[2021-07-20 10:18] antoniocali opened #884 "Type and Field extension / change behavior"
# Overview

I'm using Frictionless pretty much as Schema Detector.
I have two issues here:
1. I would like to introduce a custom type called BigInt to be able to differentiate normal Integer from a BigInt. Issue is that for how it works the detector, as soon it find a correct type (https://github.com/frictionlessdata/frictionless-py/blob/a0cd70d03df4ca6571b1e8b26445e6274ba46c3d/frictionless/detect

[2021-07-20 11:09] roll commented on #884
Hi @antoniocali,

What do you think if I introduce something like `Type.infer_order` property to set so a custom registered type will be able to get injected into type detection algorithm in `detector.detect_schema`?

[2021-07-20 11:35] antoniocali commented on #884
Well :D I follow your guidelines :D so any improve for this would be a great help :)

[2021-07-20 13:02] roll commented on #884
OK. Thanks. I'll think

[2021-07-20 16:35] roll opened #885 "Method `package.add_resource` needs to accept path/etc"
# Overview

Method `package.add_resource` needs to accept the same options as the `Resource` class does for a better user experience:

https://discord.com/channels/695635777199145130/695635777199145133/867081433948225616

[2021-07-21 09:09] antoniocali commented on #884
Sorry, after more investigation I think there's definetly another thing to hightlight

The way I'm understanding the whole schema detection works is pretty much this.
Resource -> Detector -> Schema -> Field -> System.create_type() -> Type

Now again here we are with few things.
In the Detector, the for loop for `Fields` is hard-coded to loop through
https://github.com/frictionlessdata/frictionless

[2021-07-21 10:57] roll commented on #884
@antoniocali
Thanks, I'm going to review all this to indicate what's missing

Regarding new type registration, it's implemented via plugin registration - https://github.com/frictionlessdata/frictionless-py/blob/main/tests/test_type.py

I think what is missing is the way to hook into type detection and might be something else. I'm going to work on it having your use case in mind

[2021-07-21 12:30] antoniocali commented on #884
Thank you a lot 👍

[2021-07-28 12:47] roll opened #887 "Implement plugins.identity/priority properties"
# Overview

Currently, it uses alphabetical sort for plugins ordering. See Livemark's `Plugin` and consider implementing the same props API

[2021-07-28 21:30] karlcz opened #888 "resource.dialect became required between 4.11.0 and 4.14.0?"
# Overview

We have existing datapackages which validated (zero errors) with `frictionless validate datapackage.json` using frictionless-py 4.11.0 but fail when we upgraded to 4.14.0 with errors like this:

[code]
Is this a regression or an expected change in requirements?  Reading the spec online, I do not see any mention of `dialect` even as an optional field for resources at https://specs.frict

[2021-07-29 18:29] roll commented on #888
Thanks @karlcz,

It looks like a bug. I'll investigate. Can you please share a data package example?

[2021-07-29 22:26] karlcz commented on #888
Sure, this is slightly complicated as an example, but is synthetic data we have on hand that exhibits the problem...
[frictionless-dialect-error.zip](https://github.com/frictionlessdata/frictionless-py/files/6903953/frictionless-dialect-error.zip)
there are two JSON files in there, one without dialect definitions which fails, and one which adds diaect definitions and then validates cleanly for me.

[2021-07-30 14:40] #888 closed, assigned to nobody

[2021-07-30 14:43] roll commented on #888
@karlcz
It was a regression in JSONSchema profile for `tabular-data-package`. I'm releasing a fix with `frictionless@4.14.1`. Please try it when it's on PyPi.

In general, I would not recommend using `tabular-data-package` profile. It doesn't add any additional value over `data-package` if you use `tabular-data-resource` for resources.

[2021-07-30 15:33] #885 closed, assigned to roll

[2021-08-02 12:26] roll opened #891 "Improve type detection algorithm for spare data"
# Overview

See the discussion in the chat:

- https://discordapp.com/invite/Sewv6av
- https://discord.com/channels/695635777199145130/695635777199145133/871416382305239040
- https://discord.com/channels/695635777199145130/695635777199145133/871730478271574047

[2021-08-05 06:44] #883 closed, assigned to roll

[2021-08-05 08:54] #884 closed, assigned to roll

[2021-08-05 09:00] roll commented on #884
@antoniocali
Hi, from `frictionless@4.16` there is a `plugin.create_candidates` hook. Here is a full example with a custom type:

[code]

That's how `system.create_candidates` returns without custom plugins (a detector will try these types on an detected cell from top to bottom):

[code]

Using this hook you can also alter other detections details, for example, insert `{'type': 'datetime', 'format

[2021-08-15 08:16] roll opened #895 "Ability to use one pipeline|task for many files in CLI"
# Overview

E.g.

[code]

See https://github.com/frictionlessdata/project/discussions/637#discussioncomment-1186008

[2021-08-22 10:47] n0rdlicht opened #898 "CKAN: Issue with mixed resource types"
# Overview

When using the built-in CKAN extension against some CKAN instances, e.g. `data.stadt-zuerich.ch` requests fail due to issues with some resources attached to a dataset. The requested [dataset](https://data.stadt-zuerich.ch/dataset/ted_taz_verkehrszaehlungen_werte_fussgaenger_velo) has a mixture of CSVs and PDFs as resources. The failing resource seems to be the PDF one.

## Example

e.g

[2021-08-22 11:02] n0rdlicht commented on #898
As a side issue: requests to the datastore api might want to exclude a total calculation as it adds a lot of overhead to each requests, see https://github.com/cividi/TransparenZRH/pull/101/files#diff-b014e93fcab9bae29f453d7a616da5eac2f02947f32d02a1a1bf200eeaab5a39R125 and associated PR https://github.com/cividi/TransparenZRH/pull/101 and https://ckan.org/blog/faster-datastore-in-ckan-2-7

e.g. in

[2021-08-24 09:52] antoniocali commented on #884
Thank you. It was very on point!

[2021-08-26 08:19] roll commented on #837
The work is started here - https://github.com/frictionlessdata/frictionless-py/pull/897. It uses Handlebars template engine which I think is better to replace by Pythonic Jinja. This code can be used as a starting point though

[2021-08-26 09:31] ezwelty commented on #837
I have played around with using `jinja` to achieve this functionality. Basically, I create a custom jinja environment for template rendering that follows relative paths in nested templates and a few useful custom filters that can be used within the templates.

[code]

Say we have the following data package descriptor:

[code]

### Generic rendering with `json_to_markdown`

We can convert it to mar

[2021-08-26 12:01] roll commented on #837
@ezwelty
It looks great!

I think we will finish this issue soon with this joint effort

[2021-08-26 12:03] roll commented on #863
It's done now thanks to @sapetti9!

https://framework.frictionlessdata.io/

[2021-08-26 12:03] #863 closed, assigned to nobody

[2021-08-27 14:16] roll opened #899 "Get rid of openpyxl warning "unknown extension""
# Overview

See the current warning in the thread or running `pytest`. We need to get rig of this warnings: fixing it in the code or ignoring them in pytest

[2021-08-27 15:42] #898 closed, assigned to nobody

[2021-08-27 15:44] roll commented on #898
Hi @n0rdlicht,

I'm releasing `frictionless@4.16.3` with a fix.

Also, thanks for your suggestion, I've added it to the CKAN TODO list - https://github.com/frictionlessdata/frictionless-py/issues/475

[2021-08-27 16:50] ryscher commented on #899
Note that this is not the only warning thrown by openpyxl. Others include:
- UserWarning: Cannot parse header or footer so it will be ignored
- UserWarning: File contains an invalid specification for Sheet1. This will be removed
- UserWarning: Workbook contains no default style, apply openpyxl's default

[2021-08-30 09:20] tiangolo commented on #877
I just released Typer `0.4.0`, which is compatible with **both** Click 7 and Click 8. :tada:

[2021-08-30 10:22] roll commented on #877
@tiangolo Thank you!

[2021-08-30 12:49] roll opened #901 "CLI returns 0 code on bad command"
# Overview

After upgrading to `typer@0.4` (the same in Livemark)

[2021-08-30 12:54] #901 closed, assigned to nobody

[2021-09-09 22:36] fjuniorr opened #903 "External table schema in yaml is not of type object at resources/0/schema"
# Overview

I have a data package that make use of an external table schema file stored as `yaml`. It pass validation using `validate_package`

[code]

But the external `schema.yaml` still appears to be throwing off the json schema based validation

[code]

---

Please preserve this line to notify @roll (lead of this repository)

[2021-09-10 15:09] fjuniorr commented on #840
@roll just to add additional motivation for this I've had a hard time tracking down a wrong delimiter (`,`) specified in the csv dialect of a resource when the actual csv file was using `;`.

Here is an example of the message:

[code]

[code]

I think that this more obscure message has something to do with the fact that the resource `pib-per-capita` has a `foreignKeys` constraint, because the erro

[2021-09-10 19:34] fjuniorr opened #904 "Don't expand an external table schema after call to resource.infer or validate_resource"
# Overview

If I have an original data package with an external table schema stored in `schema/estados.json` such as

[code]

After a call to `resource.infer` and serialisation to disk with

[code]

The table schema in the new data package is fully expanded

[code]

Is this the intended behaviour? In my use case I would like to update the `datapackage.json` with the new stats information, but with

[2021-09-13 11:01] roll commented on #904
Hi @fjuniorr,

Thanks. I think it's not the intended behavior. I would call it a bug

[2021-09-14 18:52] augusto-herrmann opened #905 "Diacritic in one cell breaks validation of whole datapackage"
# Overview

I came across a behaviour that I think may be a bug. A certain diacritic character "ā", if present in *any* cell of *any* resource will cause the whole data package validation to fail.

## How to reproduce

Install a fresh environment with frictionless.

[code]

Create the following files.

**datapackage.json**
[code]

**ok1.csv**
[code]

**ok1.csv**
[code]

Try to validate the data pa

[2021-09-15 15:50] peterdesmet commented on #484
For reference: here's a list of published data packages on Zenodo: https://zenodo.org/search?page=1&size=20&q=frictionlessdata&type=dataset Relevant metadata was copied manually.

[2021-09-16 10:53] peterdesmet commented on #546
See also https://github.com/frictionlessdata/project/discussions/636#discussioncomment-1341223

[2021-09-16 14:53] itcarroll opened #906 "Consider more flexible field initialization"
The `frictionless.Schema` class ignores a list of [anything other than `dict`](https://github.com/frictionlessdata/frictionless-py/blob/bffe82989f0fc782cb51b0c83bf2dee521e55ad8/frictionless/schema.py#L287) for the `fields` keyword. Would you consider accepting any instance of `collections.abc.MutableMapping`? This would not be a breaking change because `isinstance(dict(), collections.abc.MutableMa

[2021-09-16 14:57] bkarolina opened #907 "Core functionality missing"
# Overview

Hi there! 👋🏻

While using frictionless we found out, we are missing few core functionalities:
* `field-merge`
* `field-pack`
* `field-rename`
Especially first is cumbersome, as we wanted to create `geometry` column by merging teo columns. Workaround is to `field-add` and use formula to do so, however this is not working in declarative way (that's is our desired way how to have it in ou

[2021-09-17 07:13] jaceklqed opened #908 "Cannot install Frictionless with poetry or pip with setuptools>=58.0"
# Overview

Cannot install Frictionless with https://github.com/python-poetry/poetry -

`docker run --rm python:3.9 bash -c "pip install poetry; poetry init -n; poetry add frictionless; poetry install"`

this produces an error:

[code]

I get a similar error when installing with pip:

`docker run --rm python:3.9 bash -c "pip install \"setuptools>=58.0\"; pip install frictionless"`

It seems to be

[2021-09-17 19:38] martinjeannot commented on #908
We're currently running into the same issue installing frictionless with poetry. It breaks our CI with the following :

[code]

[2021-09-20 08:40] roll commented on #908
Thanks! I'll investigate

[2021-09-20 08:43] roll commented on #906
Hi @itcarroll,

We're definitely happy to support them as we did previously for `pathlib.Path`/etc. Are you interesting in PRing it? Or I can try slightly later (currently very busy for a few weeks)

[2021-09-20 08:47] roll commented on #907
Hi @bkarolina,

Thanks, we need to add them. I'm marking it as a feature request.

Regarding the Storage API, currently, we're discussing it with @pwalsh and @akariv. I think we might expect some progress on this coming month but to be honest it's months not days or weeks

[2021-09-20 09:27] pierredittgen opened #910 "Improve error message: schemas with duplicate field names are not supported (using sync-schema)"
# Overview

Using frictionless cli to validate a CSV file containing a duplicated field, I got this error:

[code]

IMHO, the error lies in the CSV file and not in the schema. I was expecting a more explicit error message from `frictionless`.

## Resources

- schema.json
[code]

- duplicate-column.csv
[code]

[duplicate-column.csv](https://github.com/frictionlessdata/frictionless-py/files/7194624/

[2021-09-20 10:53] roll commented on #910
Thanks @pierredittgen, we need to improve this error message

[2021-09-20 13:33] roll commented on #908
@jaceklqed
@mariorodeghiero
I've asked `simpleeval`'s author to take a look. It seems we need to wait a few days.

I tried one other option in #911 but it didn't work. Maybe other ideas?

PS.
Weirdly, it's not 100% reproducible, e.g. my env and our CI doesn't catch it yet

[2021-09-21 10:42] sirex commented on #908
This fix worked for me: https://github.com/python-poetry/poetry/issues/4511

[2021-09-21 12:48] itcarroll commented on #906
Yep, I can work on a PR.

[2021-09-22 10:37] bkarolina commented on #907
Hi @roll,
thanks, looking forward to have the features and I'll be checking on progress regarding Storage API 👀

[2021-09-23 08:11] pwalsh opened #913 "Storage API design"
# Overview

I've discussed with @roll how additional work that @akariv and I are doing with table schema drivers ( ref. https://github.com/frictionlessdata/tableschema-elasticsearch-py https://github.com/frictionlessdata/tableschema-sql-py https://github.com/frictionlessdata/tableschema-py ) could help bring forward this functionality in [Frictionless](https://github.com/frictionlessdata/frictionl

[2021-09-23 14:44] roll commented on #913
Thanks for creating it!

My latest research showed that Storage API can't provide metadata without touching data resources. For example, I want a package from a CKAN instance `package.from_ckan(...)` and instead of creating a list of resources pointing to CKAN dataset's resources, it opens HTTP connections straight after the `storage.read_package` call.

[2021-09-24 07:48] roll commented on #913
@pwalsh @akariv
I think it makes sense to write down how we use and want to use the storage API. What calls do we use / want to use.

If I understand correctly, in `dataflows` you use it explicitly by creating a `storage` instance? In Frictionless, I just need a few methods that will allow doing things like `package.from_sql` / `package.to_sql`.

Also, in Frictionless resource/parsers are more dev

[2021-09-24 10:13] akariv commented on #913
One thing that I found really confining was the fact that there was no concept of container - see this comment for example:
https://github.com/datahq/dataflows/pull/138#issuecomment-643645699

Some pseudo-code to illustrate some usage example:
[code]

Same concept works in a completely different scenario:
[code]

And one last example
[code]

[2021-09-24 10:40] roll commented on #913
@akariv
Yes, exactly. We deal with containers. I've been running into these thoughts again and again. Even though it's a file directory it's a contsiner of the file resources.

The specs had been initially created not taking it into account with the most "famous" example - Excel files.

#652

[2021-09-25 08:34] roll opened #914 "Increase max field size for CSV"
# Overview

Some users might run into if they use e.g. json fields:
https://stackoverflow.com/questions/15063936/csv-error-field-larger-than-field-limit-131072

[2021-09-25 08:45] #914 closed, assigned to nobody

[2021-09-26 07:33] roll commented on #908
Ok... #916 is also not good enough

[2021-09-29 02:59] augusto-herrmann commented on #905
I just wanted to add that this problem does not occur with accents present in Western European languages, such as Portuguese, Spanish, French, etc. (i.e. á â à ã ä é ê è, etc.). The diacritic that creates the problem is ā present in the Māori language in New Zealand. Even though it is a valid unicode character. You can also use it in a python string without a problem.

[2021-10-01 16:19] olejandro opened #921 "frictionless.validate fails on a data package with inline data"
# Overview

The following code fails on a local copy of https://github.com/MaREI-EPMG/ireland-carbon-budget-scenarios-2021/

[code]

It results in:

[code]

---

Please preserve this line to notify @roll (lead of this repository)

[2021-10-03 06:46] roll commented on #921
Thanks for reporting!

[2021-10-07 13:21] roll opened #922 "Consider a mode when a schema can shape output data"
# Overview

Currently, we have:
- default mode when schema fields should follow table columns to work
- a `schema_sync` mode when schema can have less columns or in different order to by synced with data

It would be great to have also a mode when the schema defines the output data. Especially it's relevant for the Hansdontable integration in Livemark:

[code]

Other suggestions:

---

Initial thr

[2021-10-11 16:02] istrupin commented on #908
For Pipenv this worked for me as a workaround:

`pipenv install -e "git+https://github.com/graingert/simpleeval@acd8455dec557d551aae1b37b708eb7cd025b03b#egg=simpleeval"  `

That added this to the pipfile:
`simpleeval = {editable = true, ref = "acd8455dec557d551aae1b37b708eb7cd025b03b", git = "https://github.com/graingert/simpleeval"}`

Which, when I run a freeze, adds the below to `requirements.tx

[2021-10-15 07:15] #921 closed, assigned to nobody

[2021-10-15 07:28] #908 closed, assigned to nobody

[2021-10-15 08:04] #903 closed, assigned to nobody

[2021-10-16 08:31] #905 closed, assigned to nobody

[2021-10-16 08:35] roll commented on #905
@augusto-herrmann
There were two problems:
- a problem with validating functions. And thanks to your issue I solved kinda an important performance/edge case issue :+1:
- encoding detection is not correct for this file

I'm releasing `frictionless@4.19.3` that shows correct validation error and doesn't hide other validation tasks but it seems for this file you need to provide a correct encoding to

[2021-10-16 10:58] augusto-herrmann commented on #905
That's awesome, @roll! Спасибо большое. :partying_face:

[2021-10-17 15:43] aborruso opened #930 "validate: wrong stats output applying cli to a bad CSV"
# Overview

Trying to validate [this](https://github.com/frictionlessdata/frictionless-py/files/7360258/_10012018141849.csv) this bad CSV file I have in the stats this:

[code]

It's not 0 bytes and it has more than 0 rows and fields.

I have used this command (4.19.5) `frictionless validate --buffer-size 250000 --sample-size 750  _10012018141849.csv --json`.

Thank you

---

Please preserve this

[2021-10-18 07:06] roll commented on #930
Thanks! I'll investigate

[2021-10-20 07:53] roll commented on #930
Hi @aborruso,

In this case it hits the error limit which is indicated by `report.tasks[0].partial == True`.

It can be solved by extending this limit:

[code]

[2021-10-20 07:53] #930 closed, assigned to nobody

[2021-10-20 08:05] aborruso commented on #930
Thank you @roll

Wouldn't it be better to warn the user in some way? To put an alert in the output, something like

[code]

[2021-10-20 08:29] roll opened #933 "Notify users about partial validations"
# Overview

Currently, there is a programmatic flag `report.tasks[n].partial == True` indicating that the validation task stopped before the end of the file hitting one of the limits error/row/memory/etc

It will be better to also notify end-users about it e.g. with a `warning`.

[2021-10-20 08:29] roll commented on #930
@aborruso
I agree, I have written it down here - https://github.com/frictionlessdata/frictionless-py/issues/933

[2021-10-25 08:20] niconoe opened #935 "Package validation doesn't support non-object resource schema"
# Overview

According to the documentation (https://specs.frictionlessdata.io/data-resource/#resource-schemas):

I have a package where resources schemas are specified as URLs:
[code]

Unfortunately, I cannot validate the package because `frictionless-py` requires `schema` to be an object:

The code:

[code]

The result:

[code]

Thanks for your help!

---

Please preserve this line to notify @rol

[2021-10-25 10:54] niconoe opened #936 "Package validation clarifications"
# Overview

Hello, I am trying to validate a package in Python (using `report = validate_package(descriptor_data_dict)`), but gets weird behaviour:

- `report.valid` is False
- `report.errors` is an empty list (`[]`)

It's unclear to me if I this is a bug in `validate_package` or if I'm misusing/misunderstanding the content of the `Report` object (its reference documentation at https://framework.f

[2021-10-26 13:32] fjuniorr commented on #935
Hi @niconoe!

Which version of `frictionless-py` are you using?

I think this was fixed in PR #927 that was shipped in v4.19.2

[2021-10-26 15:03] niconoe commented on #935
Thanks @fjuniorr!

I'm using v4.19.5

[2021-11-02 09:48] roll opened #937 "Support `schema.uniqueKeys` property"
# Overview

There is a very useful spec's pattern that Frictionless-py currently doesn't support - https://specs.frictionlessdata.io/patterns/#table-schema-unique-constraints

[2021-11-02 16:02] roll commented on #936
Hi @niconoe,

The Report object has the following structure:

[code]

So in your case there are not global errors like "Invalid Data Package's Metadata" but there are errors in data package's resources (metadata or data).

https://framework.frictionlessdata.io/docs/guides/validation-guide#validation-report

Please let me know if it didn't help you

[2021-11-02 16:02] #936 closed, assigned to nobody

[2021-11-02 16:24] roll commented on #935
Hi @niconoe,

Can you please share the package you're validating?

[2021-11-02 16:39] roll commented on #935
I think the problem is here - https://github.com/tdwg/camtrap-dp/blob/main/camtrap-dp-profile.json#L36. The custom profile doesn't let the `schema` property be a string.

Closing for now, as it seems to be not related to the framework itself.

Please let me know if it didn't help.

[2021-11-02 16:39] #935 closed, assigned to nobody

[2021-11-02 19:23] roll opened #938 "Describe should provide bytes and hash for excel files"
# Overview

[code]

[2021-11-02 19:25] roll opened #939 "Schema detection algorithm is not capable to handle really wide tables"
# Overview

It takes a while to detect a schema for a file with 5000+ columns because we create a set of field candidates for every column while we can use shared candidates and copy them to the schema when it's detected

[2021-11-02 19:27] roll opened #940 "Investigate validation performance of Excel files with 100000+ rows"
# Overview

Currently, it might take around 50 seconds for some files

[2021-11-05 07:38] roll opened #941 "New arguments for Detector `field_true/false_values`"
# Overview

It's possible to tweak e.g. `missing_values` using Detector but it would be also great to set True/False values without providing a full schema.

[2021-11-05 15:38] gabrielbdornas opened #942 "Resources with duplicate property "name" in datapackage.json files"
# Overview

The `frictionless validate` option doesn't return any error if a datapackage.json contains two resources with the same "name" property.

I believe that it could be validated for two reasons:

Frist: Because as pointed in frictionless [specs](https://specs.frictionlessdata.io/data-resource/#metadata-properties) "if present, the name MUST be unique amongst all resources in this data pack

[2021-11-05 22:12] augusto-herrmann commented on #942
IMHO this situation should definitely raise a validation error, as it violates the specs.

I don't think the specs should be changed in this regard, because if resources are not unique it would create difficulties in identifying and accessing them.

[2021-11-08 09:23] roll commented on #942
Thanks!

It's a bug for sure

[2021-11-08 12:09] roll opened #944 "Simplify Metadata class"
# Overview

Currently, Metadata API (that is used by Package/Resource/Schema/Field/etc classes) provides a really rich user editing experience. You can do many in-pace dict editings while it will be detected and then processed. For example,

[code]

The origin of this behavior is our old requirement that we need to give to a user the ability to edit descriptors inline. So that was implemented in F

[2021-11-08 12:17] #939 closed, assigned to nobody

[2021-11-08 12:59] #942 closed, assigned to nobody

[2021-11-08 14:52] niconoe commented on #936
Okay thanks, two subsequent questions:

- Is it normal to have (global) valid == False, but (global) errors == empty list (that's the behaviour I initially observed)
- that's more a conceptual/design question, but if there's any error with a package resource, shouldn't the package be considered invalid and therefore have a global `valid` flag set to False?

[2021-11-08 15:18] roll commented on #936
@niconoe
Sure if there are any resource's errors the top-level `valid` will be `False`

I think we need to polish the terminology as the word "global" might be confusing in this context. Here is a better explanation:
- `report.valid`: an indicator of whether the whole validation is a success (all the `errors` lists will be empy if it's `True`)
- `report.errors`: a list of errors that is not relate

[2021-11-08 21:00] gabrielbdornas commented on #942
Thanks for your help @roll

[2021-11-09 09:04] niconoe commented on #936
Thanks @roll, that's much more clear for me now!

If I may add a suggestion: I think it would be great if:

1) all that information appeared in the `Report` API documentation  (so future users won't bother you here like I'm doing right now)
2) as you said, the terminology could also be a bit more polished, that could make things a bit more intuitive for newcomers. For example, I guess things might

[2021-11-09 09:05] loleg commented on #908
With frictionless **4.20.2**, also using poetry I was getting a similar error:

[code]

This worked, in a pinch: `poetry add reportbro-simpleeval`

But rebuilding the virtualenv is a better solution:

`poetry env remove python && poetry install`

Just a heads up that some upgrades might not succeed cleanly.

[2021-11-15 07:28] roll opened #947 "Simplify Dialect/Control/Layout"
# Overview

We need to simplify it (and add the `code` property? - see below)

---

Consider writing `Table Dialect` spec.

---

Consider supporting skipping rows at the end of the file - https://frictionlessdata.slack.com/archives/C0362US1U3G/p1651741302921959

---

Currently, almost all the descriptors that have different implementations like Types/Steps/Checks/etc have the "code" property in th

[2021-11-16 08:19] roll commented on #855
Closing as Server API is still much more performant so it would be great to have an in-Pyhton server implemented

[2021-11-16 08:19] #855 closed, assigned to nobody

[2021-11-16 08:47] roll opened #948 "Review whether Pipeline/Inquiry runs should always be trusted"
# Overview

See 91a37474b2779efe0a6ed415fb01a5eb877855bf and d4f6818ea3df2c82f7f88ed8f50c9c463a5b85dd

Also, consider making "trusted" a global flag like `system.trusted = True` instead of managing it per descriptor which is cumbersome.

[2021-11-16 09:34] roll opened #949 "Simplify Inquiry/Pipeline API?"
# Overview

Currently, both have a nested structure:

[code]

which is needed for some complex parallel job definitions.

We can simplify these interfaces by dropping nesting and introducing some kind of `Combine/Parallel` class to create current nested definitions.

---

Also, we need to handle `trusted` properly. See - https://github.com/frictionlessdata/frictionless-py/issues/948

[2021-11-16 10:37] pierredittgen opened #950 "302 redirect"
# Overview

Using frictionless (4.21.2) CLI to validate a CSV file available from a 302 redirect URL leads to strange behaviour.

The incriminated URL is <https://demo.data.gouv.fr/fr/datasets/r/d4d78089-f218-40b6-a86a-d7cc4e624b0c>. It redirects to <https://static.data.gouv.fr/resources/donnees-essentielles-de-conventions-de-subvention-a-antibes/20200325-153014/antibes-subventions-2017.csv> using

[2021-11-17 19:03] wardi commented on #544
Hello, I'm interested in helping with this as well. We also need a French translation of the error messages.

@roll @cbenz Has work started on this already? Is there an approach you recommend?

[2021-11-18 10:54] cbenz commented on #544
Hi @wardi , I did not start working on this. I changed to a new job, therefore I won't spend much time on this project.

I do not have a specific approach to recommend.

[2021-11-18 11:42] johanricher commented on #544
Hi @wardi, as @cbenz said in its original message, Validata covers i18n but specifically for French users. In the future, we would like to see frictionless-py cover these needs in a more generic way, but in the meantime you can use Validata if you want French translations of frictionless error messages.

- French error messages: https://git.opendatafrance.net/validata/validata-core/-/blob/master/v

[2021-11-22 14:25] roll commented on #950
Thanks, @pierredittgen!

I'll investigate

[2021-11-24 11:50] peterdesmet commented on #935
Hi @roll, I would like to reopen this issue. I did not encounter this issue with older versions of frictionless (v4.18.2) and the bug is not related to the custom profile. I've created a [minimal example](https://gist.github.com/peterdesmet/a5bb89fcfb930ad08e53175942ace50e):

1. When I use `"profile": "data-package"` in my `datapackage.json` then the validation works fine, **even when using a path

[2021-12-01 12:16] didiez opened #951 "Foreign key errors showing headers instead of row values"
# Overview
* Version: **`v4.22.1`**

The foreign key errors returned in the report are the **header** values of the resource instead of the actual **row values**. Also, the message does not provide any hints about the problem: which is the foreign key violated? which fields?
I would expect more details about the `foreign-key-error` alongside the other fields of the error found in the report. Does

[2021-12-07 11:14] didiez opened #953 "Transform problem while trying to move (`field_move`) a renamed field (`field_update`)"
# Overview

Here is a simple test which reproduces the issue:
[code]

This test is expected to be valid, but the following exception is thrown:
[code]

---

Please preserve this line to notify @roll (lead of this repository)

[2021-12-07 13:10] #951 closed, assigned to nobody

[2021-12-08 09:39] niconoe opened #956 "Resources path are interpreted as relative to the current directory"
I have a simple script that calls the `validate_package()` function. The package I want to validate is located in a different directory than the validation script. `datapackage.json` references a resource with path `deployments.csv`

The validation fails (cannot access ressource) because frictionless intereprets the resource path such as:

`VALIDATION_SCRIPT/deployments.csv`

while it would seem m

[2021-12-08 20:33] davidpeckham opened #957 "SQL plugin fails with foreign key constraint on PostgreSQL when writing a package whose resources are not in dependency order"
# Overview

The SQL plugin fails while writing package resources to PostgreSQL when those resources are not in order by foreign key dependencies (ancestors first). It wrote data to a child table before foreign keys were written to the parent table, causing a foreign key constraint violation.

## Test Case

To reproduce this error, I reordered the resources in [data/storage/integrity.json](https://

[2021-12-13 01:42] ppKrauss opened #959 "Support Canonic Quoting"
# Overview

It is not a bug, but I not see an option to "clean" or normalize CSV files, because quatation is free. Ideal is to offer a "canonic CSV" definition, quotating only cells where value need it (typically need to scape a ",").

## Suggestion
At terminal something as `frictionless transform normalize` or `frictionless normalize`. The command changes CSV only when it need. For example:

[cod

[2021-12-13 06:37] roll commented on #953
Thanks! I'll investigate this one and review #954

[2021-12-13 06:39] roll commented on #956
Thank you! I'll investigate

[2021-12-13 06:40] roll commented on #957
Thanks for reporting!

[2021-12-13 06:41] roll commented on #959
Thanks for the suggestion! I think it might be a useful feature

[2021-12-13 15:54] davidpeckham commented on #957
You're welcome. Thank you for SQL Plugin! I appreciate the attention to detail in creating package metadata and constraints in the PostgreSQL schema.

[2021-12-15 14:28] sarenaz opened #960 "excel plugin error"
Hello everyone,

I tried to install frictionless excel plugin and got an error. This is what I typed `pip install frictionless[excel]` and this is the error message that I received `zsh: no matches found: frictionless[excel]`. I'm on a mac, frictionless version 4.22.3 and python version 3.10.0. I also tried this on Jupyter Notebook and got the same error. I asked @lwinfree to check and she got the

[2021-12-16 09:33] roll commented on #960
Hi @sarenaz,

You need to quote the name as your CLI tries to do some glob matching:

[code]

We need to update the docs to notify users

[2021-12-22 11:11] #820 closed, assigned to aivuk

[2021-12-22 11:14] aborruso commented on #820
Wow, thank you very much @roll !!!

[2021-12-22 11:20] roll commented on #820
@aborruso
Thanks to @aivuk :smiley:

[2021-12-22 11:27] aborruso commented on #820
@roll  Is there a new documentation section, on how to use it?

[2021-12-22 11:29] roll commented on #820
@aborruso
Thanks, for the heads-up, we're on it :+1:

[2021-12-23 08:16] roll commented on #820
Hi @aborruso,

https://framework.frictionlessdata.io/docs/guides/validation-checks/#table-dimensions

[2021-12-23 08:20] aborruso commented on #820
@roll as usual, you are very kind. Thank you

[2021-12-24 02:02] semio opened #962 "Suggestion: set encoding explicitly when reading settings assets"
# Overview

I tried to run frictionless on Windows but I got following error:

[code]

This is because the default encoding for `open()` is platform dependent. UTF-8 mode is the default on Linux but it's not on Windows. So python tries to read the asset files with my local encoding.

I can fix this by setting `PYTHONUTF8` environment variable, but I think that it could be better if you set encodin

[2021-12-24 07:20] sarenaz commented on #960
thank you @roll this helps a lot

[2021-12-25 09:33] aborruso opened #963 "Is there a way to have in output only the valid rows?"
# Overview

Imagine I have a CSV, in which only few lines have an error.
Is it possible to run a cli command to have in output valid lines only?

If no, this is a feature request.

Thank you

---

Please preserve this line to notify @roll (lead of this repository)

[2022-01-10 01:09] suvayu opened #964 "SQLite resource fails when `basepath` is non-empty"
## Setup
Let us first create a dummy SQLite database in a directory

[code]

## Use `frictionless` from Python
[code]
The above code leads to the following exception:
[code]
You can see it fails because it tries to open a database in the current directory instead of inside `testing`.  There is an empty db file in the current directory:
[code]

## Analysis
In `SqlParser`, `SqlStorage` is instantiat

[2022-01-12 10:29] wingechr opened #965 "frictionless validator fails on inline data resource (datapackage validator works)"
# Steps to reproduce

running `frictionless validate --type package datapackage.json`

with `datapackage.json`:
[code]

using frictionless 4.22.0:

# Expected behaviour

valid

# Actual behaviour

results in: `scheme-error  The data source could not be successfully loaded: [Errno 2] No such file or directory: 'MY_INLINE_DATA'`

# Notes

running `datapackage validate datapackage.json` (v1.15.2) wor

[2022-01-13 08:49] roll commented on #956
Hi @niconoe,

I can't reproduce the problem.

Many of our tests use different package directories - https://github.com/frictionlessdata/frictionless-py/blob/main/tests/test_package.py - and it passes on Linux/Mac/Windows

Can you please provide an example (data/script) that fails?

[2022-01-13 09:30] #962 closed, assigned to roll

[2022-01-13 09:45] roll opened #968 "Test issue"
# Overview

Please replace this line with full information about your idea or problem. If it's a bug share as much as possible to reproduce it

[2022-01-13 09:45] #968 closed, assigned to nobody

[2022-01-13 12:50] roll commented on #950
Hi @pierredittgen,

I can't access the link. Are they publicly available?

[2022-01-13 13:14] #953 closed, assigned to roll

[2022-01-13 15:04] niconoe commented on #956
@roll : no problem!

I just created a repository with a minimal reproducible example: https://github.com/niconoe/show_frictionless_issue (explanations on how to use in README.md).

[2022-01-13 16:15] johanricher commented on #950
The dataset was updated, here are new example links:
- URL ([accessible to the user on that page](https://www.data.gouv.fr/fr/datasets/donnees-essentielles-de-conventions-de-subvention-attribuees-par-la-ville-dantibes/)) https://www.data.gouv.fr/fr/datasets/r/9d65d9fd-a65f-43fc-9202-dd8d78b2a596
- which redirects to: https://static.data.gouv.fr/resources/donnees-essentielles-de-conventions-de-subv

[2022-01-14 21:20] paulgirard opened #971 "Tests fail if local set to FR"
# Overview

Some tests are using error message in their assertion on top of error code.
But Python can translate those messages depending on locale (at least this is what I experienced on my local french system).
Those tests fail where they should not.

I fix that by removing the error message from assertion tests using only error codes.
A PR is ready to be reviewed, I am creating this issue for r

[2022-01-14 21:31] paulgirard commented on #971
The errors in tests using the error message "No such file or directory" which is translated to "Aucun fichier ou dossier de ce type":
[code]

Note that using pytest directly does not actually translate the messages... only make test does...

[code]

Anyway I proposed in the PR not to rely on those human readable messages for testing.

[2022-01-17 07:09] roll commented on #965
Thank you! I'll investigate

[2022-01-17 07:14] roll commented on #971
Thanks! I'll review the PR :+1:

[2022-01-17 09:10] paulgirard commented on #971
ps: there might be a way to force the local to EN in the test script somewhere

[2022-01-17 09:53] paulgirard opened #973 "Add ForeignKey fields in ForeignKey Error note"
# Overview

When a ForeignKey Error is reported there is no way to know which ForiegnKey didn't validate.
Yet one resource can have multiple ForeignKeys attached to it.
It would help to add the Foreign Key Fields in the Error note.

I made a small edit in my local version of fircitonless-py to add those fields in the error note like this :
[code]

Fields are ; separated if multiple and both target

[2022-01-17 10:52] roll commented on #956
Thanks, @niconoe, I got it.

The problem is that Frictionless can only properly handle relative paths in data packages if it's located in some file system (local or remote). When you read the JSON file into memory we lose basepath information for this data package.

The simplest fix is just to provide a package path to the `validate` function:

[code]

If for some reason you want to use a package

[2022-01-17 10:52] #956 closed, assigned to roll

[2022-01-17 12:41] suvayu commented on #964
I have been looking at the code, some comments.

- all resources with a non-empty `scheme` (basically anything that isn't a `file`) is treated like a URL.  While files are treated like local paths, e.g. has to satisfy checks like "is a sub path of `basepath`".
- however `sqlite` falls in the middle, and currently the code treats it as a URL, as a consequence, leads to few issues.
  - when creating

[2022-01-17 14:12] roll commented on #950
Hi @johanricher @pierredittgen

The problem was with the internal issue that was hiding actual errors (after releasing #974):

[code]

Now it works; just don't forget to specify the format. The CSV fails in many ways because it's not actually comma-separated (not related to the issue)

[2022-01-17 14:12] #950 closed, assigned to roll

[2022-01-17 14:14] roll opened #975 "Provide an indication that file is not detected as tabular"
# Overview

Here is a good example how not detected tabular filed can be confusing - https://github.com/frictionlessdata/frictionless-py/issues/950 (it says valid because it thinks that filed is not tabular)

[2022-01-17 14:41] #971 closed, assigned to roll

[2022-01-17 14:44] roll opened #976 "Improve wide error messages formatting in CLI"
# Overview

The problem is that some messages go outside of 80-pixel terminal widths and the formatting (lines) looks ugly.

![Screenshot from 2022-01-17 17-43-42](https://user-images.githubusercontent.com/557395/149790267-7b59fa49-7ce7-4f72-80db-71b675ae3f0c.png)

Reproducing the problem:
- prepare the dev env - https://framework.frictionlessdata.io/docs/development/contributing
- run `frictionle

[2022-01-18 14:10] roll commented on #965
Hi @wingechr,

The data property only accepts an array for data arrays or mappings, for example:

[code]
[code]

Although the error message is confusing. I'll create an issue to improve it.

[2022-01-18 14:10] #965 closed, assigned to roll

[2022-01-18 14:11] roll opened #977 "Improve error message if resource.data is a string"
# Overview

Currently, it doesn't emit a metadata error and try to open it (see #965)

[2022-01-18 14:31] roll commented on #964
Thanks @suvayu, I'll be on it soon. Thanks for the analysis!

[2022-01-18 14:37] #957 closed, assigned to roll

[2022-01-18 14:37] roll commented on #957
Thanks for providing the fix! I'm releasing it

[2022-01-19 07:55] roll opened #979 "Improve validation message for zipped resources"
# Overview

For example because of the use of `resource.innerpath` the files are different but the report doesn't show it:

[code]

# Stories

- As a USER I want to understand which zipped file from the archive caused the validation fail
- As a USER I want to see a proper list of files that have been validated inside the archive

[2022-01-21 11:58] johanricher commented on #950
Thanks @roll! We'll test on our side and let you know if we still have related issues.

[2022-01-23 08:39] roll commented on #973
@paulgirard

Hi, I think it's a good first step - adding this information to the note. For example, for the duplicated label error looks like:

[code]

We can use the same style for fk listening in the fk error note (comma-separated list in quotes)

Please go ahead with the PR =) Later on we can add this information as an error property.

[2022-01-24 17:37] lucas-wave opened #980 "Create summarized view of a Package's Resources"
# Overview

I've been toying around with using frictionless for schema inference on batches of files (a data package in frictionless terminology). While the utility is useful in that it can infer the schema for each file in the batch / resource in the package, it'd help my workflow to be able to view a single, summarized view of all the resources in a package.

I'm imagining functionality that wou

[2022-01-25 10:14] #964 closed, assigned to roll

[2022-01-25 10:41] roll commented on #964
Hi @suvayu,

I'm releasing `frictionless@4.24` that supports `SqlDialect.basepath`. Here is an example - https://framework.frictionlessdata.io/docs/tutorials/formats/sql-tutorial/#sqlite

I've weighted different options and all of them including `resource.basepath` were against the rule that `basepath` is only applicable to relative paths and SQL plugin encapsulation. So `SqlDialect.basepath` seem

[2022-01-25 16:55] suvayu commented on #964
@roll Thanks a lot for the rapid fix!  I'll have look :)

[2022-01-28 07:19] roll opened #984 "Recover stuck tests in tests/test_package.py"
# Overview

Currently, they get stuck both on Github and locally:
- test_package_to_zip_resource_remote_path
- def test_package_external_profile*

Also, we might need to use `pytest.mark.vcr` for them

[2022-01-30 22:42] itcarroll commented on #906
Forgot about this, but PR just submitted.

FYI - Discovered while working on this that `make test` fails with Python 3.10 b/c (ironically) the `savReaderWriter` package required with `frictionless[spss]` imports directly from `collections` rather than `collections.abc` (deprecated since 3.3 and removed in 3.10).

[2022-02-01 14:05] roll opened #986 "Tests fail on Github Actions"
# Overview

Currently, they are just stuck with no visible reason for Py3.7/8/9. It works fine locally

[2022-02-01 15:59] itcarroll commented on #986
Noticed that @paulgirard observed the CI failure too and offered help.

[2022-02-03 06:53] #986 closed, assigned to roll

[2022-02-03 07:06] roll commented on #986
It seems that the problem was on the GIthub Actions side and now it's resolved

[2022-02-03 08:01] roll opened #988 "Add Python 3.10 to CI tests"
# Overview

There is a report that it will fail - https://github.com/frictionlessdata/frictionless-py/issues/906#issuecomment-1025249700

[2022-02-03 08:09] #984 closed, assigned to roll

[2022-02-03 08:16] #906 closed, assigned to roll

[2022-02-03 08:48] roll opened #990 "Test issue"
# Overview

Please replace this line with full information about your idea or problem. If it's a bug share as much as possible to reproduce it

[2022-02-03 08:49] #990 closed, assigned to nobody

[2022-02-03 09:13] Apollo3zehn opened #991 "Validation exception: The task has an error: 'list' object has no attribute 'startswith'"
I am trying to validate the following resource (A.resource.json):

[code]

like this:

[code]

And I receive the error
[code]

According to https://specs.frictionlessdata.io/data-resource/#data-location it is OK for the `path` property to be an array but the validation code treats it as single string: The error occurs in `local.py`, method `LocalLoader.read_byte_stream_create` where `if fullpath.s

[2022-02-03 13:58] roll commented on #991
Thanks @Apollo3zehn, I'll investigate

[2022-02-03 19:39] aivuk opened #992 "Not reading the missing values specified at the table level of a datapackage"
Looking at the failed validation at:

https://repository.frictionlessdata.io/report/?user=AFoletti&repo=test_frictionless&flow=ogd84&run=1788159724

And checking the datapackage.json and the csv, I noticed that the missing value is not being loaded at all for the fields (I checked using pdb). But if you change the datapackage.json and add the missing values for each individual field as https://gis

[2022-02-04 06:55] roll opened #993 "Provide validation hints for common mistakes?"
# Overview

For example, one can define `missingValues` on the resource level instead of the schema level. It's a common mistake and according to the standards a resource having `missingValues` is perfectly valid (because props set are customizable and open-ended). In this case (and similar), the framework might emit a warning in the validation report.

---

Missed schema level (`resource -> field

[2022-02-04 06:59] roll commented on #992
Thanks @aivuk, it's not a bug as it needs to be defined on the schema or field level but I've created an issue with an idea how to improve user experience in this case - https://github.com/frictionlessdata/frictionless-py/issues/993

[2022-02-04 06:59] #992 closed, assigned to roll

[2022-02-04 08:07] #991 closed, assigned to roll

[2022-02-04 08:10] roll commented on #991
Hi @Apollo3zehn,

The error happened because the `scheme` property needs to be `multipart` for multipart resources (or omitted) and you used `file`.

I'm releasing a fix that provides a helpful error for this case

[2022-02-04 08:21] Apollo3zehn commented on #991
Perfect, thank you!

[2022-02-05 08:07] roll commented on #980
Hi @lucas-wave, nice idea, and work!

If we want to merge into core instead of providing some extension I think it would be better to create a separate API for this logic. For example, a `Comparator` class that will include all the proposed logic and will be providing related services. Also, we can add `frictionless compare` CLI command. In the beginning, it can be marked as an experimental interf

[2022-02-07 15:17] roll opened #995 "Spec out the API work"
# Overview

For this issue - https://github.com/frictionlessdata/frictionless-py/issues/472

[2022-02-09 05:31] josemchen opened #996 "Descriptors not being honored for some transforms - incorrect asserts or default values are causing issues"
# Overview

Transforms like row_subset, row_sort, table_join are currently not working when using JSON/YAML pipelines or through the CLI.

row_subset will not work because the assert is on the param and ignores the descriptors coming form yaml/json
[code]

row_sort will not honor `reverse` because the base class init only sets descriptors using `setdefault` and reverse is always set.
[code]

table

[2022-02-15 14:49] AntoineAugusti opened #997 "Validate fields[].example for Schema"
# Overview

Related to https://github.com/frictionlessdata/specs/pull/753

If a field has an `example` key, make sure that the `example` is valid according to the field's type and constraints.

[2022-02-17 09:39] XachaB commented on #837
Thanks for working on this, I think this could be very useful !

I am wondering whether a more textual representation could be considered for the markdown. The markdown rendition is not intended to be parsed again to convert back to json or yaml, but instead, to be read by humans. So I think it is possible to be more implicit instead of translating all of the json structure. For example, I think t

[2022-02-17 15:08] ezwelty commented on #837
@XachaB Certainly, but some might prefer to keep it DRY (don't repeat yourself) and not repeat field constraints and type again in the description. In which case, these would need to be processed into a human-readable string, and this can be done in many different ways.

It isn't possible to please everyone, so perhaps `frictionless-py` could include 1-2 default JInja templates (for convenience),

[2022-02-18 09:07] enioarz opened #999 "Validating Packages stops too early"
Hello, I have been testing using the tool for a medium sized project and one thing that has been bothering me is that when I try to validate a data package with the CLI it stops the report at the first file it does not find from the schema. I think it would be a nice feature to get feedback on all the files that are not found, because in larger collections it can get tiresome iterating through the

[2022-02-21 07:50] roll commented on #999
Thanks! We will investigate

[2022-02-21 15:06] #997 closed, assigned to roll

[2022-02-28 09:34] aivuk commented on #999
@Eugenio2192 currently if you have a package with multiple resources, the test don't stop when it fails in some resources, it test all resources and provide information at the end of what failed and what didn't like in the example below:

[code]
Can you provide more details of your case? The example above I created a datapackage with 3 resources, with the first one failing because the resource fil

[2022-02-28 15:06] enioarz commented on #999
Thanks for the feedback I just discovered I have an older version of the software, I think the reason was that I used the packaged version from conda-forge. I reinstalled with pip and the issue was solved. The version in conda-forge for windows is 4.17.

[2022-02-28 15:06] #999 closed, assigned to aivuk

[2022-03-07 00:54] kgeographer opened #1000 "Task Error gives no clue to issue"
Using v3.31.0, which has been working for a couple years in my app, I try to trap or report errors with this:
[code]

Now validating a .tsv file with 23,000 lines. the validation fails with only the `report`:

[code]
By splitting the file I see that it fails somewhere between row 5000 and row 8000, but I have no way of telling what the issue is. The text by the way includes many Polish language ch

[2022-03-07 17:51] lwinfree commented on #1000
hi @kgeographer have you tried using `schema_sync` in the current version of Frictionless-py? https://framework.frictionlessdata.io/docs/guides/framework/detector-guide/#schema-sync I think that is the current, correct syntax (instead of `sync_schema`). Let me know if that fixes your problem after updating!

[2022-03-07 18:00] kgeographer commented on #1000
Thanks for noting that. I saw that upgrading requires a refactoring, and wanted to avoid that right away -- but I'll add that to my TODOs -- good practice before I fall another point release behind. Maybe it will result in more informative Task Error reports. Anyway, the immediate problem, failing "silently" was solved in a random fix: I changed the order of columns in the .tsv file. Go figure.

[2022-03-07 18:00] #1000 closed, assigned to nobody

[2022-03-07 18:11] lwinfree commented on #1000
Great! :-)

[2022-03-10 16:28] mcnoat opened #1002 "Sort field descriptors semantically instead of alphabetically in YAML files"
# Overview
Currently the [field descriptors](https://specs.frictionlessdata.io/table-schema/#field-descriptors) in a YAML file for table schemas are sorted alphabetically. This results in the following order:
* `description`
* `name`
* `title`
* `type`

(As far as I can tell, example isn't implemented yet, although it's [documented](https://specs.frictionlessdata.io/table-schema/#field-descriptors

[2022-03-11 11:03] lucas-wave commented on #980
Thanks for the feedback and guidance here! I'll close this one out and take another stab at it using the `Comparator`class.

[2022-03-11 11:03] #980 closed, assigned to roll

[2022-03-20 08:48] roll commented on #1002
Hi @mcnoat,

I think it's a really good idea and for myself, I also was thinking of something like this while getting `frictionless` output in CLI not perfectly readable

[2022-03-20 08:48] roll commented on #1002
@aivuk
WDYT? It might be an interesting issue to take a look.

Let's discuss implementation details in the issue first and I think we can build it.

[2022-03-21 07:18] aborruso opened #1004 "frictioneless extract flags: to have only the valid lines and only the wrong lines"
# Overview

It might be very convenient to have two flags: one to have only the valid lines and one to have only the not valid lines.

Either to debug or to publish only what passes validation.

Thank you

[2022-03-21 08:45] #973 closed, assigned to roll

[2022-03-21 11:20] aborruso commented on #1004
It's related to #963

[2022-03-21 11:37] roll commented on #995
DONE - https://github.com/frictionlessdata/frictionless-py/issues/472

[2022-03-21 11:37] #995 closed, assigned to roll

[2022-03-21 12:59] roll commented on #731
Hi @aivuk,

can you please take a look if we can finish this one?

[2022-03-21 22:15] fjuniorr opened #1005 "Incompatible decimalChar in table schema and csv data files"
# Overview

If a field has a period (`.`) as a decimal char in the table schema but the actual csv file uses comma (`,`), a `type-error` is reported in `frictionless validate`.

However, if the situation is reversed (comma in table schema but period in csv) no error is reported and `1.234` will be interpreted as `Decimal('1.234')`, which might not be the case in the actual data (eg. because of a m

[2022-03-22 22:09] fjuniorr commented on #933
I was also surprised by this behaviour. In my case, because of the default error limit of 1000, only the rows were reported as zero

[code]

Another idea, not necessarily instead of the warning/message, might be to return `None` in this case to make the semantics of the value closer to what is happening.

[2022-03-23 07:35] roll commented on #933
Hi @aivuk, WDYT?

I think we, at least, need a CLI indication for it

[2022-03-27 06:43] roll commented on #1005
Thanks @fjuniorr, it looks like a bug. @aivuk can you please take a look

[2022-03-28 08:55] roll commented on #996
Thanks for such a detailed bug report! I'm releasing a fix.

We have a mechanism for validation builtin into the metadata system so I just moved assertions to JSONSchema profiles. We should have done it in the first place, of course :smiley:

[2022-03-28 09:03] #996 closed, assigned to roll

[2022-03-28 10:40] #731 closed, assigned to roll

[2022-03-28 11:38] #1002 closed, assigned to roll

[2022-03-28 11:40] roll commented on #1002
@mcnoat
I'm releasing a new version with improved order:

[code]

[2022-03-28 20:33] aborruso opened #1009 "Extract CSV, with field delimiter consistent with the schema used"
Please replace this line with full information about your idea or problem. If it's a bug share as much as possible to reproduce it.

I have this input CSV file:

[code]

If I run `extract` the field delimiter is changed from `;` to `,`:

[code]

I think that the default way should be to have the output field separator as the one of the input.

Moreover if I have this schema, in which I set `delimi

[2022-03-28 20:43] lwinfree commented on #1009
tagging @roll to take look. He should be able to get to this in the next week or 2! :-)

[2022-03-28 20:44] lwinfree commented on #1009
@aborruso I'm actually going to move this issue to the frictionless-py repo, since it is about that code. (Just FYI!)

[2022-03-29 07:07] roll opened #1011 "Upgrade Typer version because of the Click problem"
# Overview

- https://github.com/tiangolo/typer/pull/375

[2022-03-29 07:20] areleu commented on #1011
This brought me problems today, any recommendation on what to do in the meantime?

Update: For now I added a version constraint for click (>=8.0, <8.1) into my dependency chain and it worked without issues.

[2022-03-29 07:44] roll commented on #1011
@areleu
Yes I wanted to propose the same (downgrading to `click==8.0.4`)

[2022-03-29 08:36] roll opened #1012 "Ability to provide output CSV dialect (lightweight transform)"
# Overview

https://github.com/frictionlessdata/project/discussions/715

[2022-03-29 08:51] ezwelty commented on #584
FYI, I wrote some Python software (https://gitlab.com/wgms/dbc) that includes functionality for generating spreadsheet templates (both Microsoft Excel and Google Sheets) from Frictionless Tabular Data Package metadata. Unlike https://github.com/hubmapconsortium/tableschema-to-template, it supports multiple tables, foreign keys, and more field constraints. I hope to find time to split out this func

[2022-03-29 15:40] lwinfree commented on #584
Very cool @ezwelty!!

[2022-03-30 07:48] roll opened #1013 "Recover releases on Anaconda"
# Overview

The latest releases didn't get there - https://anaconda.org/conda-forge/frictionless

[2022-03-30 20:10] tiangolo commented on #1011
Hello! I just released Typer `0.4.1`, you can now upgrade the version and it should handle it. :rocket: :nerd_face:

[2022-03-31 07:13] #1011 closed, assigned to roll

[2022-03-31 07:16] roll commented on #1011
Thanks @tiangolo!

TBH I'm not sure why `click` dropped this deprecated API on a minor release. I would expect it happening on a major release

[2022-03-31 14:54] sapetti9 commented on #584
Hi @ezwelty, this is very cool indeed! A lot of people in the community would be interested in knowing more about it. Would you be up to writing a tutorial about this and/or demo at one of our community calls later in the year? Drop me an email at sara.petti[at]okfn.org, or ping me in the community slack channel: https://frictionlessdata.slack.com/messages/general

[2022-04-01 01:48] mcarans opened #1014 "Make properties accessible eg. for CsvDialect, Detector"
# Overview

I am upgrading from Tabulator to Frictionless. I have written a [Frictionless wrapper](https://github.com/OCHA-DAP/hdx-python-utilities/blob/base_downloader/src/hdx/utilities/frictionless_wrapper.py) to try to keep my library's API broadly as it was before.

Properties are not always accessible in Frictionless classes eg. for CsvDialect I must do:
[code]

For Detector, I have to do:
[c

[2022-04-02 07:34] roll opened #1018 "Disable cron jobs on forks in Github Actions?"
# Overview

Currently, cron jobs seem to be transferred to forks if the contributor enables Github Actions.

https://github.community/t/do-not-run-cron-workflows-in-forks/17636/2

[2022-04-03 08:16] roll commented on #1014
Hi @mcarans,

Metadata classes in Frictionless@4 are Python dicts so you can update them as dicts - https://framework.frictionlessdata.io/docs/guides/describing-data#transforming-metadata

So, for example, for Dialect (if I understood your intentions correctly):

[code]

The Detector class is not Metadata Dict so I'm going to create an issue for adding setters for it

[2022-04-03 08:18] roll opened #1015 "Ability to set Detector properties"
# Overview

See https://github.com/frictionlessdata/frictionless-py/issues/1014

Currently, it's not possible to set Detector properties after an instance is created:

[code]

We want to make it settable probably using an approach we use for other classes in Frictionless (for example, for the Field class):

[code]

The list of properties we want to be able to set (all of the current):
- buffer_siz

[2022-04-03 20:44] mcarans commented on #1014
Thanks for you reply @roll.

If I do `dialect.line_terminator = line_terminator`, PyCharm shows the error `Property 'line_terminator' cannot be set`.  Here is the same for `delimiter`:
![Screenshot from 2022-04-04 09-08-20](https://user-images.githubusercontent.com/3799212/161448769-306fd416-12d8-4706-9d16-ab6c5ee2eea2.png)

If I do `dialect["line_terminator"] = line_terminator`, I get the error `

[2022-04-04 08:25] roll commented on #1014
Hi @mcarans,

I've created an issue to support setter in Detector (it's not a metadata class with autosetters atm) - https://github.com/frictionlessdata/frictionless-py/issues/1015

[2022-04-04 08:27] roll commented on #1014
Unfortunatelly, `lineterminator` is not supported on Python level - https://docs.python.org/3/library/csv.html#csv.Dialect.lineterminator

[2022-04-04 20:22] mcarans commented on #1014
@roll I also get "property cannot be set" for delimiter (see previous screenshot). It seems like the Frictionless code must be indicating that properties on CsvDialect (or ExcelDialect) should not be set. Maybe the intention was that properties only be passed in the constructor, but setting properties of frictionless.Layout does not produce the warning eg. `layout.skip_rows = ["<blank>"]` is fine.

[2022-04-05 06:32] roll commented on #1014
I think it's because of some complex system we use to create setters on Metadata classes - https://github.com/frictionlessdata/frictionless-py/blob/main/frictionless/plugins/csv.py#L86

This `@Metadata.property` decorator defines a setter alongside with caching optimization etc but it looks like analysis tools (vscode) can't figure it out. You can use dict API instead to overcome this problem: `di

[2022-04-11 14:00] aivuk commented on #1005
@roll I think the problem is happening because how we are using the dechimalChar information. At https://github.com/frictionlessdata/frictionless-py/blob/main/frictionless/types/number.py#L58 we just use it to substitute the decimalChar for a '.' and then we parse the string to a float number. If the decimalChar specified is a ',' and the number is written with dot, the replacement will not do any

[2022-04-11 14:04] #988 closed, assigned to roll

[2022-04-11 14:05] roll commented on #1013
DONE

[2022-04-11 14:05] #1013 closed, assigned to roll

[2022-04-11 15:11] roll commented on #1005
@aivuk
It's hard to wrap my head out it quickly. Can you please try PRing a fix. I think one thing we need to take into account is that we need to keep high performance on number parsing so if we can use some smart regex alternative (like split) it will be better

[2022-04-11 23:12] mcarans opened #1017 "Error reading a simple JSON file"
# Overview

I'm not sure if I have missed something but the following code to read a simple JSON file gives an error with a message that doesn't help with diagnosing the problem: `frictionless.exception.FrictionlessException: [resource-error] The data resource has an error: cannot extract metadata "https://raw.githubusercontent.com/OCHA-DAP/hdx-python-scraper/main/tests/fixtures/additional_json.js

[2022-04-12 06:56] roll commented on #1014
@mcarans
I just noticed that in your example we also need to use camelCase when we work with Metadata as a dict - https://framework.frictionlessdata.io/docs/guides/quick-start#usage (as in the standards - https://specs.frictionlessdata.io/table-schema/):

[code]

We're currently working on https://github.com/frictionlessdata/frictionless-py/issues/1015 to enable Delimiter setters.

And I'm looking

[2022-04-12 06:56] #1014 closed, assigned to roll

[2022-04-12 07:20] roll commented on #1017
Hi @mcarans,

By defaultr `Resource` expects a metadata if the extension is JSON/YAML so in this case we explicitly use the `path` keyword argument. It's not needed for other formats like `csv`.

[code]

The initial version is guessed to be:

[code]

As an integrator you probably are interested in always using explicit keyword arguments and more specific functions e.g. `validate_resource` vs `vali

[2022-04-12 07:26] roll commented on #1017
Please let me know if I can help with something else. And congrats on your migration! Frictionless should be much faster and in-general is much better designed as a consistent data tool (over the set of prev libs)

[2022-04-12 07:26] #1017 closed, assigned to roll

[2022-04-12 07:27] roll commented on #1017
Probably one thing I need to mention:
- Frictionless casts and validate data by default (including schema inferring) if you use `resource.read_rows`
- Frictionless can be more similar to `tabulator` if you use `resource.read_lists` (raw data)

[2022-04-12 12:09] roll opened #1020 "Document `Detector.encoding_function` parameter"
# Overview

Currently, it's missing in the Detector guide - https://framework.frictionlessdata.io/docs/guides/framework/detector-guide/

[2022-04-12 13:02] #1018 closed, assigned to roll

[2022-04-12 23:19] avdata99 opened #1022 "Local environment is not .ignored"
# Overview

The documentation recommends creating a `.python` local environment but it's not properly ignored.

[2022-04-13 03:26] mcarans opened #1024 "Incorrect reading of 3 line header that includes merged cells"
# Overview

I'm having trouble getting Frictionless to read a spreadsheet that has a 3 line header that includes merged cells. It used to be read correctly by Tabulator. Correct reading would give headers like "Current Phase P3+ #"

[code]

Adding file here for future reference:
[Afghanistan - IPC Analysis 2017-2022.xlsx](https://github.com/frictionlessdata/frictionless-py/files/8484644/Afghanista

[2022-04-13 14:15] #1015 closed, assigned to shashigharti

[2022-04-13 14:19] roll opened #1026 "Rebase from __setattr__ to property setters"
# Overview

In these classes we use `__setattr__` to set writable properties:

[code]
It will be better to use explicit Python property setter with proper documentation. For example:

[code]

[2022-04-13 14:21] roll commented on #1026
Hi @shashigharti,

If you're familiar with Python typing could please try to provide types where you can, for example:

[code]

We're going to introduce static types checking since v5 (at least partially).

[2022-04-13 14:23] roll commented on #1020
DONE
https://framework.frictionlessdata.io/docs/guides/framework/detector-guide#encoding-function

[2022-04-13 14:23] #1020 closed, assigned to shashigharti

[2022-04-13 21:18] mcarans commented on #1024
@roll I found the issue where you fixed this in Tabulator: https://github.com/frictionlessdata/tabulator-py/issues/320. You made this fix: "I hope I have found the problem. It seems self.__sheet.merged_cells.ranges was changed in-place during merging so some ranges were skipped" - maybe the solution is the same for Frictionless?

https://github.com/frictionlessdata/tabulator-py/commit/0d09eeef6eea

[2022-04-14 06:29] shashigharti opened #1027 "Small typo in contributing file"
I think 'cd portal' is 'cd site' in https://github.com/frictionlessdata/frictionless-py/blob/main/CONTRIBUTING.md

[2022-04-14 06:53] shashigharti commented on #1026
Hi @roll,

Thank you! sure I will try adding it.

[2022-04-14 07:20] roll commented on #1024
Thanks @mcarans!

I'll fix it

[2022-04-14 16:45] lwinfree commented on #1027
good catch! Please go ahead and update it. Thanks!

[2022-04-15 07:06] #1024 closed, assigned to roll

[2022-04-15 07:08] roll commented on #1024
Hi @mcarans,

Sorry it wasn't explicetely stated in the documentation but in Frictionless we try to be more compliant with Frictionless Standards regarding `header_rows` so it now supports only full list of row numbers NOT a range limits as it was in `tabulator`:

https://github.com/frictionlessdata/frictionless-py/pull/1028/files#diff-aa3789bb8ac1441b16a3b5a9675097ed2f68edde1a835bd946cb0a1d9d9830

[2022-04-15 08:18] roll opened #1029 "Ability to pretty-print metadata in sessions / notebooks"
# Overview

Currently, many users use `pprint.pprint` but we can provide some builtin method for it (or use `__repr__` etc). It needs to be thought through

[2022-04-15 10:40] roll opened #1031 "Recover `make docs`"
# Overview

Currently, it fails with an error and commented out in the release script

[2022-04-15 11:18] shashigharti opened #1034 "Code error in frictionless-cars notebook"
In this notebook "frictionless-cars", the wikipedia header has changed so it has broken some parts of the code.

![screenshot-nimbusweb me-2022 04 15-16_57_56](https://user-images.githubusercontent.com/5582809/163564564-f99cf15e-b5ee-469b-b880-7743d40632cf.png)
![screenshot-colab research google com-2022 04 15-16_58_49](https://user-images.githubusercontent.com/5582809/163564570-27adeb48-fc10-4b60

[2022-04-15 13:41] aivuk commented on #1005
@roll you can see my pull request at https://github.com/frictionlessdata/frictionless-py/pull/1032 but I think the solution is a bit hackish and it will fail in the rare case where someone uses a "|" as a decimal character separator.

[2022-04-16 06:40] #1022 closed, assigned to nobody

[2022-04-16 06:52] roll commented on #1005
Thanks @aivuk! I'll review it

[2022-04-16 07:30] #1031 closed, assigned to roll

[2022-04-18 04:12] shashigharti commented on #1034
@lwinfree this is not in github repo. We can use "open in google collab" link in this notebook to open it in the google collab. As we discussed shall we add it in the website repo?

[2022-04-18 08:01] roll commented on #1005
@aivuk
I'm thinking about something like this:

[code]

[2022-04-18 08:28] aivuk commented on #1005
That's not going to work. If the decimal_char is a comma (',') it's going to be replaced by a '.' at `cell = cell.replace(self.field.decimal_char, ".")` and then fail in the next step.

[2022-04-18 08:29] aivuk commented on #1005
Other solution that I can see is playing with the locale, setting the decimal character on it, because this is what Python uses behind the scenes to parse a string to a float. But this will probably not be the best performance solution.

[2022-04-18 10:02] roll commented on #1005
What if we check it before the first replacement? Anyway let's start with tests and see what we can do. I wouldn't touch locale as the `processor` function might be called million times per validation including (maybe in-parallel). We also probably need to return different `processor` functions depending on the case to keep the current performance for common cases over edge cases.

[2022-04-18 11:06] #1026 closed, assigned to shashigharti

[2022-04-18 11:06] #1027 closed, assigned to shashigharti

[2022-04-18 16:38] lwinfree commented on #1034
Hi @shashigharti! Yes, please go ahead and try to add this notebook to the github repo so it can be edited more easily. Here are the steps you'll need to do (there might be more steps as well, I'm not totally sure if this will work!):

- The notebooks are currently linked through the header in this file: https://github.com/frictionlessdata/frictionless-py/blob/main/site/docusaurus.config.js starti

[2022-04-19 07:04] roll commented on #941
@shashigharti
Let's discuss this issue one of the next plannings

[2022-04-19 07:08] roll commented on #785
Related to #1029

[2022-04-19 08:04] shashigharti commented on #1034
Thank you @lwinfree

[2022-04-19 08:07] #769 closed, assigned to nobody

[2022-04-19 08:25] #1034 closed, assigned to shashigharti

[2022-04-19 14:44] #977 closed, assigned to roll

[2022-04-19 14:58] #639 closed, assigned to roll

[2022-04-19 15:11] #780 closed, assigned to roll

[2022-04-21 07:02] #1029 closed, assigned to shashigharti

[2022-04-21 07:30] shashigharti commented on #837
Hi @roll For this, I plan to use the solution shared by @ezwelty as starting point. Looking for your suggestion!

[2022-04-21 07:45] roll commented on #837
Great @shashigharti, I like using `jinja2` as it's out standard templating language (e.g. also used in Livemark). Also, it's good that we can build on top of this issue thread work :+1:

[2022-04-22 13:37] paulgirard opened #1043 "BUG in validate --parallel because of trusted feature"
# Overview
Try to validate a datapackage in parallel mode with recent version throws a python error:
[code]
# Workaround

Removing the --parallel option removes the error.

# Context
Here is the commit where I removed the --parallel option https://github.com/medialab/toflit18_data/commit/3c317ff80cf45c1b0d5fd984bac1f393f8f4b8e5

[2022-04-24 06:59] roll commented on #1043
Thanks @paulgirard!

We will investigate and fix it

[2022-04-24 07:12] roll opened #1044 "Enable static type checking and add types"
# Overview

We had it prepared but disabled, for v5 we need to start static type checking for better code quality

[2022-04-25 06:53] roll commented on #899
Current warning to investigate:

[code]

[2022-04-25 07:08] #938 closed, assigned to roll

[2022-04-25 07:46] #975 closed, assigned to roll

[2022-04-25 08:56] #910 closed, assigned to roll

[2022-04-25 10:04] aborruso opened #1048 "A wrong CSV that passes validation"
# Overview

Hi, if I run validate on [this bad "CSV"](https://gist.githubusercontent.com/aborruso/b868ee7fe11137927f3af7bf4845a2e8/raw/95cff4b1d97b4085342a4847dca9bc0e0c9b4d62/tmp.csv), I have no error.

But it has an error on line 35, a `"` to remove.

This CSV has 21.692 rows and one header row, but if you validate it, you have back `"rows": 21624`.

If you remove the `"` you have on line 35, an

[2022-04-25 13:44] roll commented on #1048
Thanks @aborruso, we will investigate

[2022-04-25 13:49] ezwelty commented on #837
@shashigharti FYI, there was a small indent bug in my original `json_to_markdown` function.

[code]

I also found it was more reliable to initiate the `jinja2.FileSystemLoader` based on the directory of the template file passed to the `render_template` function, like this:

[code]

[2022-04-25 15:12] shashigharti commented on #837
Thank you! @ezwelty

[2022-04-25 16:08] #584 closed, assigned to shashigharti

[2022-04-26 10:14] rad-pat opened #1050 "Type detection is incorrect for sparse dataset"
With a sparse dataset, the type is not detected correctly. It is easiest to show by an example which I expect should be detected as integer, but in fact resolves to 'any'.

[code]
100% of the populated values are integer, the problem is that the scoring is not re-evaluated when a missing value is encountered. I have a code change which fixes the issue. I will put it in a PR.

[2022-04-27 06:53] shashigharti commented on #1048
@roll Total rows 21692; A  double quote starts in line 35 and the mapping ending quote is found in line 103.   (103-35 = 68) rows data are taken as a single string. So the total of 68 rows becomes 1 and row count becomes 21624.

[2022-04-27 07:13] aborruso commented on #1048
Yes, this is one of the error: a quote without ending quote at row 35.

And there is another one at row 36: you have an incorrect number of field separators.

You can view all in this diff, between wrong input rows and corrected rows https://gist.github.com/aborruso/cdfbd59a30504c544bf21259ce782a09/revisions?diff=split#diff-0e5523056ab6dbb2a3bfa672b305d76b003954fa5a1bcc8de29528c2ad79b2ed=

Thank y

[2022-04-29 15:52] shashigharti commented on #1048
Thank you @aborruso

[2022-05-01 08:22] roll commented on #1050
Thanks @rad-pat!

[2022-05-01 08:24] roll commented on #1050
@aivuk
Please take a look, it's related to #891

[2022-05-02 07:44] #960 closed, assigned to shashigharti

[2022-05-02 08:18] #899 closed, assigned to shashigharti

[2022-05-02 08:33] aivuk commented on #1050
I did it @roll, checked the PR it works well, but I left a comment regarding some additional tests that I think it would be a good idea to add.

[2022-05-02 08:41] aivuk commented on #799
@roll I'm working on the problem and the main culprit is here https://github.com/frictionlessdata/frictionless-py/blob/main/frictionless/plugins/pandas.py#L197 where we are losing the timezone information. I checked that we are using passing a dtype to pandas without the timezone information `datetime64[ns]` at https://github.com/frictionlessdata/frictionless-py/blob/main/frictionless/plugins/pand

[2022-05-02 08:57] roll commented on #799
Yea it might be tricky. Although we can try something to implement but need to keep performance in mind and not get too hacky

[2022-05-02 09:05] aivuk commented on #1005
@roll Investigating this further I think that maybe it's a good idea to ad a faster parser for the string to numerical types conversion. I went to a rabbit hole where I went deep on how Python do the conversion:

 * https://github.com/python/cpython/blob/e349bf23584eef20e0d1e1b2989d9b1430f15507/Python/dtoa.c#L1434

And saw that there is no way to change the decimal separator because it's hardcoded

[2022-05-02 11:38] roll commented on #1005
@aivuk
`fastnumbers` looks promising for this issue

I'm curious if we can find something similar for date/times also

[2022-05-02 11:46] #837 closed, assigned to shashigharti

[2022-05-02 12:04] johanricher commented on #837
Nice, can't wait to use that feature! Thank you so much @shashigharti for this remarkable contribution, and of course @roll for all your continuous work. :clap:

[2022-05-02 12:57] roll commented on #837
And of course, thanks to @ezwelty :+1:

[2022-05-02 14:51] lwinfree commented on #1048
@roll please take a look - maybe disable dialect? (notes from chatting earlier)

[2022-05-02 14:52] lwinfree commented on #1043
@roll look at the notes in Slack - thx

[2022-05-03 07:35] roll commented on #1048
Hi @aborruso and @shashigharti,

Unfortunatelly I don't see how the machine can detect human intention in this file. As Sashi mentioned, this CSV looks pretty valid if we consider that there is a long quoted cell from line 35 to line 103. So the Python parser reads it this way and only then Frictionless does its job.

If we disable quoting:

[code]

I think we can add a builtin custom check that d

[2022-05-03 09:42] shashigharti opened #1058 "Add tutorial for new features added"
# Add tutorial for new features

* pretty print feature for metadata.
* Excel stats
* to_markdown feature for metadata.
* to_excel_template feature to export table schema as excel.

[2022-05-04 06:47] shashigharti commented on #907
Hi @bkarolina,

Thank you for the feature request! Regarding field-merge, field-pack, field-rename and package few examples of how you want to use it would be nice.

cc @roll @aivuk

[2022-05-04 07:43] shashigharti commented on #941
@roll Thank you!. Is there any example of how we currently set True/False values using full schema?

[2022-05-04 07:51] roll commented on #941
@shashigharti
Similar to this snippet - https://github.com/frictionlessdata/frictionless-py/blob/main/frictionless/detector.py#L438-L439 - there is `booleanField.true_value/false_value`

[2022-05-04 07:53] roll commented on #941
A simple schema:

[code]

[2022-05-04 07:53] roll commented on #941
https://specs.frictionlessdata.io/table-schema/#boolean

[2022-05-05 06:48] roll commented on #1048
Hi @shashigharti,

I think we can close this issue by creating a feature request for detecting cell outliners (a custom check or maybe an extension for `checks.devitated_value`) and providing this CSV as an example

[2022-05-05 06:53] roll commented on #907
Here is a `spets.field_unpack`:

[code]

I think `spets.field_pack` should by default revert this transform (creating an array from two fields):

[code]

[2022-05-05 06:58] roll commented on #907
Also, we have `steps.field_split`:

[code]

In my opinion `steps.field_merge` will revert it as:

[code]

[2022-05-05 06:59] roll commented on #907
Regarding `steps.field_rename`:
- is it the same as `steps.field_update(new_name='new')`?

[2022-05-05 07:00] roll opened #1062 "Implement `steps.resource_write`?"
# Overview

We need an ability to save metadata + data

[2022-05-05 07:01] roll opened #1063 "Implement `steps.package_publish`"
# Overview

We need an ability to save metadata + data (package + all resources)

[2022-05-05 07:02] roll commented on #907
I add a few new feature requests to handle separately:
- #1062
- #1063

[2022-05-05 09:40] shashigharti opened #1066 "Implement new check for finding cell size outliers"
# Overview

Add new feature to detect cell outliners while parsing a file. A valid file with a long quoted cell or any quoteChar spanning multiple rows would cause missing rows. So to handle this we could add a custom check or  an extension for checks.deviated_value

This issue is derived from #1048
CSV file: [issue1048.csv](https://github.com/frictionlessdata/frictionless-py/files/8630087/issue10

[2022-05-05 09:41] shashigharti commented on #1048
Closing this issue and created new issue #1066 to add the check to detect cell outliners.

cc @roll @aborruso

[2022-05-05 09:41] #1048 closed, assigned to shashigharti

[2022-05-05 18:28] lwinfree commented on #1058
I'm going to re-open this so @shashigharti can add some more text to describe the code. For example, you could add more description on line 5 (transform to package). What do these transform steps do? Why are you doing them? If you were going to explain the code out loud to me, what would you say? Write those thoughts :-)

 I'll edit the text before merging. Thanks!

[2022-05-08 08:53] roll opened #1067 "Implement `resource.analyze` function and CLI command"
# Overview

_Is there any tooling around that does more than describe to analyse the data.  For example tools that would give you distributions for number fields, most common word statistics for text fields, distinct counts, counts for fields that are not blank, most common categories used, and many others?   Essentially statistics that are currently not in the tablular data package resource speci

[2022-05-08 10:09] roll commented on #546
MERGED into #922

[2022-05-08 10:09] #546 closed, assigned to roll

[2022-05-08 10:10] roll commented on #895
MERGED into #949

[2022-05-08 10:10] #895 closed, assigned to roll

[2022-05-08 10:14] roll commented on #940
MERGED into #568

[2022-05-08 10:14] #940 closed, assigned to roll

[2022-05-08 10:31] roll opened #1068 "Review (and improve if needed) transform flow"
# Overview

For v5 we need to review the framsform flow and decide whether we want to improve it (probably will be low-level breaking changes)

[2022-05-08 10:32] roll commented on #948
MERGED into #949

[2022-05-08 10:32] #948 closed, assigned to roll

[2022-05-09 03:37] shashigharti commented on #907
yes this is already there; we can rename the field using steps.field_update

[2022-05-09 07:49] roll commented on #907
@shashigharti
Cool! Let's implement then these two steps to make this issue done:
- `steps.field_merge`
- `steps.field_pack`

[2022-05-09 11:38] jze commented on #947
It seems to be common for official agencies add some text (hints, copyright statements etc.) in the last rows of a CSV file. Over time, the number of data lines in the CSV file grows. Therefore, you cannot specify a fixed number of relevant lines. It would be useful if you could ignore a fixed number of lines at the end.

[2022-05-09 11:44] roll commented on #947
Thanks @jze, totally makes sense

[2022-05-09 15:03] roll commented on #1043
@shashigharti
What steps did you use to reproduce the error?

[2022-05-10 03:02] shashigharti commented on #1043
@roll

**Running this command:**
`frictionless  validate --json  --limit-errors 5000 --type package ../datapackage.json > datapackage_validation.json`

**file**: https://github.com/medialab/toflit18_data/blob/master/scripts/datapackage_validation.json

[2022-05-10 07:24] roll opened #1072 "Rework `package/resource.trusted/onerror` parameter?"
# Overview

Currently, it's an option for the Package/Resoruce class while we might need to rebase it on being a global config like `sustem.trusted = True` (or via CLI arg / env var) as, currently it creates confusion and wrong attachment (to a package/resoruce rather to an env)

[2022-05-10 07:31] roll commented on #1043
Hi @paulgirard,

The `datapackage.json` has a mistake -  `classifications_index` declares `fields` on the `resource` level instead of providing it as a part of `schema` - `resource -> schema -> fields`.

We're going to enable validation hints to help with situations like this - https://github.com/frictionlessdata/frictionless-py/issues/993

Also, I'm reviewing the validation flow to improve the er

[2022-05-10 07:31] #1043 closed, assigned to roll

[2022-05-10 07:31] shashigharti commented on #941
@roll I have added the code and have few questions regarding the functionality. If I have this data
**Data:**
id,neighbor_id,name,population,natural_resources
1,,Britain,67,yes
2,3,France,67,yes
3,2,Germany,83,yes
4,,Italy,60,yes

When I describe above data shouldn't natural_resources be inferred as 'boolean'.
[code]

[2022-05-10 07:32] roll commented on #993
@shashigharti
Let's discuss next week on Github/Slack how we're going to handle it

[2022-05-10 07:36] roll commented on #941
HI @shashigharti,

yes it's a good test case for this feature (although I would simplify the test code)

[2022-05-10 09:26] shashigharti commented on #941
@roll Sorry i didnot understand the simplification part could you please explain it? Do you mean only testing using field_true_values=["yes"] ?

or

detector = Detector(field_true_values=["yes", "1"], field_false_values=["no", "0"])
assert detector.field_true_values == ["yes", "1"]
assert detector.field_false_values == ["no", "0"]

[2022-05-10 11:22] #1050 closed, assigned to aivuk

[2022-05-10 11:26] roll commented on #941
I mean having something focusd only on True/False values like:

[code]

[code]

And similar tests

[2022-05-11 10:13] peterdesmet opened #1076 "`header` property from remote dialect not recognized"
When validating a resource against a remote CSV schema, the `header` property is not recognized. It does work when the exact same dialect properties are verbosely included.

- [test.csv](https://github.com/frictionlessdata/frictionless-py/files/8668920/test.csv)
- [test_remote_dialect.txt](https://github.com/frictionlessdata/frictionless-py/files/8668931/test_remote_dialect.txt) (change extension

[2022-05-12 19:47] #907 closed, assigned to shashigharti

[2022-05-14 05:54] aborruso opened #1077 "How to run deviated_value check via cli"
# Overview

In the pyhon example, it's possible to choose the field and the check type.

[code]

How to do it via cli?

Thank you

[2022-05-14 07:34] aborruso commented on #820
@roll how to run via cli this check? In example `num_rows=5`.

Thank you

[2022-05-14 08:30] roll opened #1078 "Ability to run builtin validation checks via CLI"
# Overview

We have builtin checks in the framework which is not enabled by default - https://framework.frictionlessdata.io/docs/guides/validation-checks#table-dimensions. We want a way to enable them via CLI.

I think in general we need to provide a JSON interface to do so. It will be a universal way that supports all the builtin checks and all the enabled via plugins custom checks.

[code]
On th

[2022-05-14 08:31] roll commented on #820
Hi @aborruso,

I've created a feature request for it - https://github.com/frictionlessdata/frictionless-py/issues/1078 - we will be on it soon

[2022-05-14 08:32] aborruso commented on #820
WOW, really great

[2022-05-14 08:34] roll opened #1079 "Ability to run builtin transform steps via CLI"
# Overview

Currently `$ frictionless transform` supports only pipelines provided. We want to transform resources either. For example:

[code]

We also might provide some shortcuts options for the most common operations

Use solutions from #1078

[2022-05-14 08:46] roll commented on #1077
MERGED into https://github.com/frictionlessdata/frictionless-py/issues/1078

[2022-05-14 08:46] #1077 closed, assigned to nobody

[2022-05-15 06:39] roll commented on #1076
Thanks! I'll investigate

[2022-05-16 07:56] #845 closed, assigned to shashigharti

[2022-05-16 08:00] #941 closed, assigned to shashigharti

[2022-05-16 11:24] aivuk commented on #1067
I like your plan @roll but do you think that it would make more sense to just couple pandas dataframe to calculate the stats? I think developing ourselves the calculation is prone to give us more work in the future (new bugs, performance issues, etc). The only downside that I see is that this would create a big dependency to Pandas, but it could be developed as a frictionless optional plugin.

[2022-05-16 11:30] aivuk commented on #1078
I think a json interface will be a bit cumbersome to use. How about instead of:

`$ frictionless validate table.csv --checks '[{"code": "table-dimensions", "numRows": 10}]'`

We have something like:

`$ frictionless validate table.csv --checks table-dimensions --numRows 10`

Basically we could have a standard interface for all the checks that would be parsed as:
`
$ frictionless validate table.csv

[2022-05-16 13:32] roll commented on #1078
@aivuk
The default JSON interface is still good to have as:
- it's a universal way for FD
- we use the same for `dialect/etc`
- it will work for any checks added in the future
- it can be used for non-human CLI usage (JSON stringified)

Another question is that the second way of providing checks might be exactly as you suggest. Of course, it will require some smart CLI coding:

[code]

OR

... [al

[2022-05-16 13:35] roll commented on #1067
We should not eliminate using `pandas`, of course, good catch. Although, it also might struggle for really big datasets (memory-wise).

We might provide different modes (with pandas / without pandas)

[2022-05-17 07:19] #1058 closed, assigned to shashigharti

[2022-05-17 07:38] roll commented on #891
As discussed on the sprint planning - this probelm has been resolved by https://github.com/frictionlessdata/frictionless-py/pull/1051. We only need to add synthetic tests to close this issue

[2022-05-17 08:04] roll commented on #1078
@aivuk
@shashigharti
@aborruso

Human readable syntax brainstorming:

[code]

[2022-05-17 08:06] #1066 closed, assigned to shashigharti

[2022-05-17 08:47] shashigharti commented on #1048
Hi @aborruso,

First I would like to thank you for reporting this and your valuable input.  We have added 'deviated-cell' check in newly released version 'v4.38.0' which identifies  any discrepancies in data like in this csv that you have shared. Running the check in this file gives the following message:

[code]
[code]

Please let us know your thoughts on it!. Thanks again!

[2022-05-17 08:56] aborruso commented on #1048
I think that this is a great project :)

I have installed v4.38.0, and when I run validate I have no error. Is it normal?

![image](https://user-images.githubusercontent.com/30607/168771981-8c4a8bca-38fc-4a74-b09e-e40adbf93372.png)

[2022-05-17 09:00] shashigharti commented on #1048
Thanks! Sorry I forgot to inform that we are still working on exposing this check through CLI. We will inform you once it is added.

[2022-05-17 10:45] shashigharti commented on #1078
JSON (no comments)
For CLI, I prefer this one

[2022-05-17 11:42] aborruso commented on #1078
For some commands (dialect) it's possible to use the JSON way, that is the standard FD way.

For the CLI I prefer the last @roll way `frictionless validate table.csv --checks duplicate-row deviated-cell forbidden-value:values=a,b,c `, but I think it should be enabled also for dialect and to other CLI commands that use JSON.

For me it is also okay to use the JSON

[2022-05-18 06:32] #979 closed, assigned to shashigharti

[2022-05-20 05:33] shashigharti commented on #785
@roll for sections like this:
[code]
Can I use?
[code]

[2022-05-20 05:54] roll commented on #785
No, in this case we need to show that extract return row objects

[2022-05-20 05:58] shashigharti commented on #785
So would it be like:

[code]

or shall I skip this part?

[2022-05-20 06:31] roll commented on #785
Yea just skip. Maybe I was too optimistic about amount of places we can use to_view...

[2022-05-20 06:33] roll commented on #785
Although I think at least the whole transform guide can be rebased on it

[2022-05-20 06:41] shashigharti commented on #785
okay! Then I will apply it to those parts where we have resource object/s and displaying the data such as this

[code]

Here I think we can replace
`pprint(target.read_rows()) `with `to_view() .` WDYT?

[2022-05-20 06:45] roll commented on #785
Yea exactly 💯

[2022-05-20 13:24] aivuk commented on #854
Testing the current page https://framework.frictionlessdata.io/ on https://metatags.io/, I would suggest to change:

Title from: Describe, extract, validate, and fransform data in Python | Frictionless Framework
To: Frictionless Framework - Describe, extract, validate, and fransform data in Python

Putting the framework name first.

Description from: Data management framework for Python that provi

[2022-05-20 13:29] aivuk commented on #840
@roll What do you think a useful debug mode would be, just add some logging.debug where we currently have exceptions or are you thinking in something else?

[2022-05-20 17:24] lwinfree commented on #854
Thanks Edgar.

I think making this change is fine:

I don't have a strong opinion about _tabular_ either way. What about you @roll ?

For the image, please use the current logo (https://frictionlessdata.io/design/). This is the current framework logo: https://github.com/frictionlessdata/frictionless-py/blob/main/site/static/img/logo-bright.png

[2022-05-22 07:13] roll commented on #840
For a starter,

[code]

that won't be swallowing exceptions as a part of validation report.

In general, it's about internal error reporting -- we don't need any interactive debugging etc ATM

[2022-05-22 07:17] roll commented on #854
I think it's still better to have `tabular data` as just `data` is too wide.

Currently, our "official" description is `Data management framework for Python that provides functionality to describe, extract, validate, and transform tabular data`

[2022-05-23 06:37] #785 closed, assigned to shashigharti

[2022-05-23 07:19] roll opened #1087 "Implement fast SQL export (COPY/LOAD)"
# Overview

We have a plan to use COPY/LOAD when our SQL plugin is finished - https://github.com/frictionlessdata/frictionless-py/issues/405 - but, currently, out Storage API is an object of possible improvements so it might make sense to prototype fast SQL export separately first.

I would just create a unofficial action like `resource.copy_to_sql` with a limited scope, test it, and then we will

[2022-05-23 08:46] roll opened #1088 "Use `fastnumbers` for numeric parsing?"
# Overview

This library might be a better solution performance wise that a builtin parser - https://pypi.org/project/fastnumbers/

PS.
Consider similar for data/time

[2022-05-23 09:44] aivuk opened #1090 "Investigate Datasette integration"
After the experiment https://github.com/aivuk/frictionless-notebooks/blob/main/csv-to-datapackage-to-datasette/Convert%20CSV%20to%20Datapackage%2C%20import%20to%20a%20Sqlite%20and%20use%20it%20with%20Datasette.ipynb to import a csv to datasette:

 1. Creating a Datapackage from the CSV using Frictionless framework
 2. Convert the datapackage to a sqlite using https://github.com/kindly/datapackage_

[2022-05-23 11:37] shashigharti commented on #1067
Most of stats can also be generated using statistics library, the only issue is some of the features are only available in 3.8 (such as quantiles).
![statistics](https://user-images.githubusercontent.com/5582809/169809950-0cb39798-35b0-4861-9d4a-636473bf877e.png)
![screenshot-nimbusweb me-2022 05 23-17_17_07](https://user-images.githubusercontent.com/5582809/169810319-20b26827-5884-4066-b2be-0cce7

[2022-05-23 12:33] roll commented on #1090
From @amercader

[2022-05-23 12:34] roll commented on #1090
I've made the issue name broader so we can brainstorm the integration here and then create specific issues bases on this work

[2022-05-23 12:39] roll commented on #1067
@shashigharti
Great! When we're implementing this we can compare "native" and "pandas" solutions (simplicity/performancs/etc)

[2022-05-23 18:46] augusto-herrmann opened #1091 "Pandas tutorial example code has wrong imports"
# Overview

The [Pandas Tutorial](https://framework.frictionlessdata.io/docs/tutorials/formats/pandas-tutorial/) has example code that imports the `Package` class, but only uses `Resource`, which is not imported.

[2022-05-23 19:22] augusto-herrmann commented on #511
Does this mean integration with the original [DataHub.io](https://datahub.io/) (a data repository) or LinkedIn's [DataHub](https://datahubproject.io/) (a data management tool)?

[2022-05-24 07:06] #1005 closed, assigned to aivuk

[2022-05-24 07:08] #1091 closed, assigned to nobody

[2022-05-24 07:11] roll commented on #511
Hi @augusto-herrmann,

It's about https://datahub.io/ but I would close this issue as DataHub uses data packages as an interface so all the data can already be read from there (regarding writing - we're currently have CKAN, Zenodo, etc with higher priority - so not sure we need a dedicated writer to datahub)

[2022-05-24 07:11] #511 closed, assigned to nobody

[2022-05-24 07:44] roll commented on #976
@shashigharti
I think we need to target this representation visually:

[code]

[2022-05-24 07:48] roll opened #1093 "Fix really long error messages (remove new lines)"
# Overview

Some error messages like `package/resource-error` are too long because it comes from JSONSchema validation. Also, it includes new lines

# Plan

- [ ] identify such errors
- [ ] make them shorter
- [ ] remove new lines

[2022-05-24 07:54] roll opened #1094 "Add validation summary to the CLI report"
# Overview

Currently, we have:

[code]

We'd like to extend the report to something like:

[code]

# Plan

- [ ] brainstorm the summary table contents
- [ ] agree with @roll @shashigharti
- [ ] implement

[2022-05-24 08:09] roll opened #1095 "Add default `frictionless` CLI command"
# Overview

Currently, we have these commands:
- `frictionless describe`
- `frictionless extract`
- `frictionless validate`
- [coming] `frictionless analyze`
- etc

We'd like to have (note there is no action):

[code]

[2022-05-24 12:13] roll commented on #1076
@peterdesmet
Hi, as I figure it out, remote `dialect.header` is not supported in `frictionless@4`. To make it work you need to provide a layout - https://framework.frictionlessdata.io/docs/guides/framework/layout-guide#header

I'm going to fix this problem soon in `frictionless@5` - https://github.com/frictionlessdata/frictionless-py/issues/947 - where dialect/layout/etc will be merged to be compl

[2022-05-24 12:13] #1076 closed, assigned to roll

[2022-05-24 14:38] #1093 closed, assigned to roll

[2022-05-25 07:11] shashigharti commented on #1094
@roll what do you think of this summary elements?

# Summary

[code]
...

[2022-05-25 07:46] roll commented on #1094
Hi @shashigharti,

It looks good. A few comments:
- we don't need statistical data as we will have it in `frictionless analyze`
- can we try `tabulate` for visual representation?

[2022-05-25 09:03] henhuy opened #1100 "Resource function to_pandas fails creating index if last field is of type 'datetime'"
When reading a resource using `to_pandas()`, index is build from primary key.
But while creating index, code looks into last looked-up field instead of index field to get index data type.
If last field type is of type `datetime` or `date`, index column is tried to be converted to DatetimeIndex, but this fails if primary key column is of type `integer`.

I will provide example package.json and prop

[2022-05-25 11:17] #976 closed, assigned to shashigharti

[2022-05-25 11:19] shashigharti commented on #1100
Thank you @henhuy  for reporting the issue!. We will investigate.

[2022-05-25 11:22] henhuy commented on #1100
Nice! see my PR for a possible solution and initial test which shows the bug. Not sure if I put everything in the right place...

[2022-05-25 11:23] shashigharti commented on #1100
Thank you! Sure we will review your PR!

[2022-05-25 16:48] #799 closed, assigned to aivuk

[2022-05-25 16:50] roll opened #1102 "Support timezone for the SQL plugin"
# Overview

Similar to #799 we lose TZ data for the write/read SQL round-robin.

Tests to be updated:
- test_sql_parser_write_timezone_postgresql
- test_sql_parser_write_timezone_mysql
- test_sql_parser_write_timezone_sqlite

[2022-05-26 02:23] augusto-herrmann opened #1103 "`to_zip` method of the `Package` class does not really compress the file"
# Overview

When using the `.to_zip` method in data packages, the expected output would be a zipped file with the contents of the entire data package, actually compressed with the default zip algorithm.

The file that is actually produced is indeed a zip archive, but it is too large. In fact, it does not appear to be compressed at all as its file size is just over the original uncompressed file's

[2022-05-26 09:08] shashigharti commented on #933
@roll WDYT of indicating this partial validations as general error?

[code]

[2022-05-26 09:40] roll commented on #933
Hi @shashigharti,

No, it's not an error as a user you can do something like `frictionless validate table.csv --limit-rows 1000` -- ok, my first 1000 rows are valid

So the issue is about showing a note about partial validation -- somewhere near our new summary section (just a simple note line in cli)

[2022-05-26 11:34] aivuk opened #1105 "Exception on pandas parser when using a datetime column containing timezone information as index"
If an user try to load a resource and use a datetime column as index, if this column has timezone information the transform to pandas (.to_pandas()) will give an exception:

`ValueError: Tz-aware datetime.datetime cannot be converted to datetime64 unless utc=True`

An example to reproduce this problem:

datapackage.json

[code]
And the data timezone-issue.csv:

[code]
@roll

[2022-05-26 11:38] aivuk commented on #1105
A possible solution to solve the problem is just to change on __write_convert_type of the pandas plugin:

`"datetime": np.dtype("datetime64[ns]")`

to

`"datetime": pandas.DatetimeTZDtype(tz='UTC')`

This solves the exception issue, but you lost the timezone information when the datetime is converted to UTC. Maybe there is a way to continue with the timezone information without transforming to UTC

[2022-05-27 06:53] roll commented on #1105
Thanks!

[2022-05-27 06:55] #1100 closed, assigned to aivuk

[2022-05-27 12:16] #1105 closed, assigned to aivuk

[2022-05-27 13:07] #891 closed, assigned to aivuk

[2022-05-27 14:09] aivuk commented on #840
Ok, if we don't swallow the exception, what we are going to do with it? I did some tests raising the exception on the CLI when a validation report was being created, but I don't see which additional information to add. Show the exception and which line it happened?

[2022-05-27 14:16] roll commented on #840
I think just letting the app fail with the exception would be a good start.

Another question - how to keep debug/not-debug state. I think we need to create a `system.debug` flag which can be set by users and in our case by CLI

[2022-05-27 20:18] augusto-herrmann opened #1109 "`to_pandas` method of the `Package` class does not preserve integer data type"
# Overview

When reading a data package that has a resource with an integer column, which has one or more null values (empty cells in the csv), and then exporting it to Pandas, the integer data type is not preserved and is interpreted as a `float64` instead.

# How to reproduce

Zipping the file may be superfluous, but I wanted to test reading the data and metadata from the same (zipped) file.

[c

[2022-05-29 07:43] roll commented on #1109
Thanks!

[2022-05-29 07:44] roll commented on #1103
Thanks! We'll review

[2022-05-29 12:57] aivuk commented on #1090
I did investigate a bit more on the subject and also considered @amercader ideas. I think the best approach would be in terms of how easy it would be to implement:

 1. Create on frictionless CLI a command to publish a datapackage/csv on fly.io or vercel. This would be easy to do, we would just need to add Datasette as a dependency to FD,  do the steps to convert a datapackage as described [here](

[2022-05-29 22:00] aivuk commented on #1109
Hi @augusto-herrmann, thanks for reporting. The issue happens only when you do have a empty field in one of the rows, as in your example the quantity is None for the second row. When the pandas [plugin](https://github.com/frictionlessdata/frictionless-py/blob/main/frictionless/plugins/pandas/parser.py#L131) finds a None in an integer field, it replaces it with a numpy.NaN (Numpy Not a Number, that

[2022-05-30 07:24] roll commented on #508
MERGED into #1067

[2022-05-30 07:24] #508 closed, assigned to shashigharti

[2022-05-30 07:29] roll opened #1113 "Improve static types coverage of the codebase"
# Overview

In #1044 we have enable the static types checking and added SOME types to the codebase. We need to add more types, as much as possible ATM. Sometimes it's not possible as it breaks the type checking and there is no easy fix -- let's skip such places for now

Methods to check types:

- `pyright`
- `make lint`
- use VIM/VSCode plugins

---

Please PR v5 branch

[2022-05-30 08:48] aivuk commented on #1090
@roll just pinging you to discuss the next steps

[2022-05-30 13:24] #933 closed, assigned to shashigharti

[2022-05-30 13:24] #1094 closed, assigned to shashigharti

[2022-05-30 14:16] #854 closed, assigned to aivuk

[2022-05-30 14:18] #1103 closed, assigned to aivuk

[2022-05-30 15:17] roll opened #1116 "Implement Datasette integration"
# Overview

We'd like to have a nice integration with Datasette. We did initial investigation here - https://github.com/frictionlessdata/frictionless-py/issues/1090

# Implementation

- [ ] We need a new command `frictionless research` (name is pending) that works exactly the same as `frictionless query` but instead of sqlite starts Datasette

[2022-05-30 15:17] roll commented on #1090
To follow in https://github.com/frictionlessdata/frictionless-py/issues/1116

[2022-05-30 15:17] #1090 closed, assigned to aivuk, roll

[2022-05-31 05:57] shashigharti commented on #993
@roll will we only handle two cases for now: missing values and fields for this issue?

If yes, I have a question regarding fields, both of this work(with and without schema).

[code]
[code]

[2022-05-31 06:02] shashigharti commented on #1095
@roll if user doesn't mention the action, it will run all three possible actions and show the results?

[2022-05-31 06:10] roll commented on #1095
@shashigharti
It needs to be a new CLI command e.g. `program.default`:

[code]

We don't need a new `frictionless.actions` for it -- just a new module in `program`

[2022-05-31 06:37] roll commented on #993
@shashigharti
Both work but the first one will not have any effect -- that's the problem. So we need to notify the user about it

I would add a `resource-error` in `resource.metadata_validate` saying that the `fields` property should be on schema

The same for the `missingValues`

[2022-05-31 12:01] XachaB opened #1118 "Feature suggestion: Export package to ER diagram"
# Overview

For documentation purposes, I belive it would be very useful to be able to export a given package into an ER diagram. I have written some code to do that, as I needed the functionality:

[code]

This can be used as

[code]

Of course it could be refactored to be a method of the package object.
Here is an example ER diagram generated:
![paralex-ER-diagram](https://user-images.githubuser

[2022-05-31 21:07] augusto-herrmann commented on #1109
Hi @aivuk. Yes, I know that Pandas does this. It is even a sensible design decision, considering that to check that the column is really entirely composed of integers it would need to check every value, and this might be a performance issue.

However, for Frictionless it is a different story when we already have a defined schema. IMHO when passing on to Pandas, the Frictionless Framework should in

[2022-06-01 12:58] #993 closed, assigned to shashigharti

[2022-06-01 13:36] aivuk commented on #1109
The problem is that I couldn't find a way to define the types when creating a Dataframe. The read_csv would be the fastest solution, but the problem is that the the plugin don't create a dataframe only when the user is loading a resource from the filesystem, but also when it loaded or created a Resource in your program. In that case there is no way to not change the type at a later step as I did.

[2022-06-01 14:30] johanricher commented on #854
Awesome, thanks!

[2022-06-02 08:57] roll commented on #1044
DONE in #1119

[2022-06-02 08:57] #1044 closed, assigned to roll

[2022-06-02 09:00] roll opened #1120 "Release v5.beta"
# Overview

According to https://software.frictionlessdata.io/pages/roadmap.html

# Plan

- [ ] outstanding improvements
- [ ] docs
- [ ] migration guide
- [ ] release

[2022-06-02 11:57] fjuniorr commented on #1067
It would be great if alongside the implementation on `frictionless-py` at least a [pattern is added to the specs](https://specs.frictionlessdata.io/patterns/) to allow the creation of data resources with descriptive statistics generated through other tools (such as `frictionless-r`) but still consistent. Maybe push this discussion https://github.com/frictionlessdata/specs/issues/364 forward?

Also

[2022-06-02 12:54] roll commented on #1067
Hi @fjuniorr,

Yes, I think we will bringing some new pieces to the standards soon as a result of new framework/application/etc work

[2022-06-02 13:09] shashigharti commented on #1095
@roll resource.schema.fields will not be nested in this usecase?

And to flatten json object what do you think of this library https://pypi.org/project/flatten-json/?

[2022-06-02 13:29] roll commented on #1095
@shashigharti
Our goal is provide the most vital information regarding the schema, for example:

[code]

[2022-06-02 13:42] roll commented on #645
DONE in https://github.com/frictionlessdata/frictionless-py/pull/1112

[2022-06-02 13:42] #645 closed, assigned to nobody

[2022-06-02 13:50] roll commented on #963
MERGED into #1004

[2022-06-02 13:50] #963 closed, assigned to nobody

[2022-06-02 14:44] roll opened #1121 "Review Row class (transform/mutability/table concept/etc)"
# Overview

As a part of v6's transform work. Probably we need to make it immutable (proxy for cells) for performance

[2022-06-03 07:10] roll commented on #840
Hi @aivuk,

Let's park this issue for now (moving to Blocked) as I'm reworking exception for v5 so we might not need to the way we discussed

[2022-06-05 07:40] roll opened #1123 "Introduction to v5 article/migration"
# Overview

We need to write it before the release

[2022-06-05 08:01] roll opened #1124 "Implement `steps.table_convert` (ability to run in CLI)?"
# Overview

It's related to https://github.com/frictionlessdata/frictionless-py/issues/1012 -- people need a simple  but configurable way to convert their data (formats/dialects)

[2022-06-05 08:03] roll commented on #1118
Amazing @XachaB!

We will consider including it into the framework soon (cc @shashigharti ideas on API? -- like `package.to_dot`?)

[2022-06-06 06:31] roll commented on #1095
Currently, it doesn't seem to be possible to provide a default command the way we want with Typer - https://github.com/tiangolo/typer/issues/18

We will implement a normal command "summary" - `frictionless summary table.csv` - and then @roll will think how we can call it also as the default

[2022-06-06 07:03] jze opened #1125 "Convert data into RDF"
# Overview

A Frictionless Data *Table Schema* could be used to convert the described data from CSV files into RDF. Such programs exist for the *CSV on the Web* (CSVW) standard. This page sketches the motivation and the process: https://csvw.org/guides/why-use-csvw.html I think it should also be doable with Frictionless Data.

If the Table Schema contains `rdfType` properties for all columns it is

[2022-06-06 07:15] shashigharti commented on #1118
@roll  @XachaB I will review the code and share my thoughts on it.

[2022-06-06 07:17] shashigharti commented on #1125
Thank you! @jze . We will review it.

[2022-06-06 07:17] roll commented on #1095
@shashigharti
As a current quick-fix:

[code]

Can you please also create a feature request for Typer? I would say that we'd like to have an ability to catch not found commands or something like this

[2022-06-06 07:20] roll commented on #1118
Just a note when we're on implementation -- let's use Jinja templates as we do in other parts of the framework

[2022-06-06 09:46] vlcinsky opened #1126 "CLI: frictionless describe fails on --dialect (for --type package)"
[code]
## missing CLI option to describe a package for a directory of CSV files with non-default delimiter
CLI allows to infer schema and resource for a CSV using non-default delimiter such as ";"

However, for package, CLI shows `--dialect` option in help, but using it ends with error message which looks like internal error.

My use case is: having a directory full of CSV files with ";" as a deli

[2022-06-08 19:19] augusto-herrmann opened #1128 "Docs suggest using deprecated function `describe_schema`"
# Overview

The documentation guide on [describing a schema](https://framework.frictionlessdata.io/docs/guides/describing-data/#describing-a-schema) has the following example code:

[code]

But this generates a warning:

[code]

The warnings already give out the proper substitute for the code.

[2022-06-09 05:19] #1109 closed, assigned to aivuk

[2022-06-09 05:32] #1128 closed, assigned to nobody

[2022-06-09 06:33] shashigharti commented on #1126
Thank you @vlcinsky for reporting it. Looks like it fails when we use it with package. We will investigate it further.

[2022-06-09 13:58] augusto-herrmann commented on #1109
Perhaps it is possible if we use a sequence of pandas `Series`, considering that each `Series` can have its own `dtype`. But we can discuss that in a new issue.

[2022-06-10 05:28] #1095 closed, assigned to shashigharti

[2022-06-10 08:43] roll commented on #1126
@shashigharti
I think we can have dialect argument in the Package constructor forwarding it to underlying resources in the `package.metadata_process` -- let's discuss next Monday

[2022-06-10 22:18] fjuniorr opened #1131 "Storing custom checks inside resource descriptors in `datapackage.json`"
If I have an inquiry in a file `inquiry.json` with a given `row-constraint` check, say:

[code]

I can execute it in the CLI with `frictionless validate inquiry.json`.

Is there any standard way to store this information inside a resource descriptor so that it would be run during a call to `frictionless validate datapackage.json`?

[2022-06-11 15:06] roll commented on #949
DONE in #1119

[2022-06-11 15:06] #949 closed, assigned to roll

[2022-06-12 07:17] roll commented on #1131
Thanks @fjuniorr, I'll check if we can support it in v5 (I'm working on now)

[2022-06-13 06:33] roll opened #1133 "Review the documentation for v5"
# Overview

We need to review and update (when needed) the documentation for v5

---

Please PR v5 branch

[2022-06-13 08:24] roll commented on #1072
Reviewed and no, it's a resource-specific setting rather than a globl

[2022-06-13 08:24] #1072 closed, assigned to roll

[2022-06-13 08:38] roll opened #1134 "Review `system.get/use_http_session` API"
# Overview

We might consider using more general `system.context` context manager

[2022-06-13 15:38] #1004 closed, assigned to shashigharti

[2022-06-14 08:55] shashigharti commented on #1118
@roll I am planning to implement it as follows, what do you think?
[code]

[2022-06-14 09:45] roll commented on #1118
@shashigharti
Looks good but let's keep the logic within this function not using helpers (otherwise it will create a dependency from package to helpers)

[2022-06-14 12:55] #1118 closed, assigned to shashigharti

[2022-06-14 13:58] roll commented on #1131
It's now supported in v5 and we will provide an introductory blog for all new features including this one when v5 is released (in around a month) :+1:

[2022-06-14 13:58] roll commented on #1131
DONE in #1119

[2022-06-14 13:58] #1131 closed, assigned to roll

[2022-06-14 19:34] fjuniorr opened #1136 "Foreign Keys to Data Packages pattern"
# Overview

This is a feature request for support of the [Foreign Keys to Data Packages](https://specs.frictionlessdata.io/patterns/#table-schema-foreign-keys-to-data-packages) pattern.

Here is a [reprex](https://github.com/dados-mg/datapackage-reprex/tree/foreign-key-data-package) that could be used for eventual testing:

[code]

Message:

[2022-06-15 05:19] shashigharti commented on #1126
@roll in metadata_process did you mean setting dialect property as follows?
[code]

[2022-06-15 06:12] roll commented on #1126
@shashigharti
Probably in the constructor:

[code]

In general, I'm reworking this part of the framework (metadata_ methods) so let's make it work for now and then I'll reduce the complexity

[2022-06-15 07:13] shashigharti commented on #1136
Thank you @fjuniorr for reporting it! We will investigate it further.

[2022-06-15 11:39] shashigharti commented on #1067
I tested pandas-profiling/pandas and compiled the analysis result which we could possibly include in this feature.
[link](https://drive.google.com/file/d/168f41X1qRKCbf0xNivIHaIm-29Iv-80F/view?usp=sharing)

What do you think @roll @aivuk ?
Here is the output from the pandas-profiling [link](https://drive.google.com/file/d/1YkqOdQBLZRRce1hYcfLK2HSz1Qn10rHN/view?usp=sharing)

Data Used:[link](https:

[2022-06-15 12:36] aivuk commented on #1067
I loved the `profile.to_notebook_iframe()`. And reading the docs at https://pandas-profiling.ydata.ai/docs/master/index.html#go-beyond I discovered the interesting project https://www.greatexpectations.io. Looks like a repository of validators/checkers for your data https://greatexpectations.io/expectations

Another library that looks interesting is https://capitalone.github.io/DataProfiler

[2022-06-15 13:36] shashigharti commented on #1067
Thank you @aivuk!. Yes I agree and the output of pandas-profiling has a lot of information that we could also include in our analysis. I will also look into other resources that you have shared.

[2022-06-16 19:38] aborruso commented on #963
@roll when do you think to release it?

Thank you very much for this feature

[2022-06-17 06:00] roll commented on #963
Hi @shashigharti can you please release a new version?

[2022-06-19 06:50] jze opened #1138 "to_pandas should create datetime64 for date columns"
# Overview

When converting resources to panda dataframes the `to_pandas` method uses `object` data type for columns that have been defined as `date` in the *Table Schema*. It would be more convenient (and more intuitive) if columns with type `date` would have the correct data type.

Here is a small example:

[code]

[2022-06-19 07:07] roll commented on #1138
Thanks @jze! We will investigate

[2022-06-20 02:29] shashigharti commented on #963
@aborruso @roll New version released!

[2022-06-20 04:37] aborruso commented on #963
Thank you very much

[2022-06-20 07:57] #1126 closed, assigned to shashigharti

[2022-06-20 08:03] roll commented on #1067
@shashigharti
So what data structure would you suggest we have as an output of `resource.analyze()`? There is also a conversation on the specs - https://github.com/frictionlessdata/specs/issues/364

[2022-06-20 09:24] aborruso commented on #963
Wow, really great, I have tested it: thank you very much @shashigharti and @roll

[2022-06-20 14:47] peterdesmet opened #1139 "`frictionless validate datapackage.json` deprecation warning"
New since frictionless v4.40.0:

[code]

[2022-06-20 15:01] peterdesmet opened #1140 "`frictionless validate` no longer accepts list of resources"
According to the specs,  resource path should accept a list of files:

than a single string:

Since frictionless v4.40.0, this causes an error:

[code]

I make extensive use of list of paths, so I hope this can be fixed. 😄

## Test files

datapackage.json:
[code]
[file_1.csv](https://github.com/frictionlessdata/frictionless-py/files/8941635/file_1.csv)
[file_2.csv](https://github.com/frictionlessd

[2022-06-20 15:16] shashigharti commented on #1140
Thank you for reporting!. We will investigate it further and fix it.

[2022-06-21 01:49] shashigharti commented on #1139
Thanks for reporting!. We will investigate and respond.

[2022-06-21 04:55] shashigharti commented on #1067
@roll I was thinking of something like this(in json format):

**Data Statistics                                                               Count/%**
[code]

![Data Summary Numeric and Categorical](https://user-images.githubusercontent.com/5582809/174719116-35338533-fc3f-4779-93e0-e1c080fcdbea.png)

**Correlation**
![correlation](https://user-images.githubusercontent.com/5582809/174718830-701972

[2022-06-21 06:59] #1139 closed, assigned to roll

[2022-06-21 07:07] roll commented on #1139
Thanks! We're releasing the fix

[2022-06-21 07:16] #1140 closed, assigned to roll

[2022-06-21 07:18] peterdesmet commented on #1140
👋 @roll is there a unit test to prevent this?

[2022-06-21 07:20] roll commented on #1140
@shashigharti
Can you please add one? We should have packages like this in data. THe problem was only related to the CLI (report.to_summary)

[2022-06-21 07:21] shashigharti commented on #1140
Sure I will add the test.

[2022-06-21 07:23] roll commented on #1067
@shashigharti
Thanks! Let's start prototyping. Interesting to see how it looks as an output data structure. One thing I would say that we would not include any error related information as it's a part of the validation report (at least for now). Including error information might be not a cheap operation as it required to run validation additionally.

PS.
Please keep the code in `frictionless/resou

[2022-06-21 07:25] roll commented on #1140
@peterdesmet
The fix is on its way. There are still a few improvements we need to add to the summary though

[2022-06-21 08:05] jze opened #1141 "Message "File name (Not Found)" in validation summary"
# Overview

The summary of a validation process returns a confusing message `File name (Not Found)`. It suggests that the validate process failed because the CSV file could not be read. However, the validation seems to work.

Example command:

[code]
Output:

[code]

[2022-06-21 09:25] shashigharti commented on #1141
Thank you for reporting! We are working on the fix!

[2022-06-21 10:35] #1141 closed, assigned to shashigharti

[2022-06-21 13:42] Marigold opened #1143 "`to_pandas` breaks for resources without types in `schema.fields`"
# Overview

Here's an example resource from [open-numbers](https://github.com/open-numbers/ddf--open_numbers--world_development_indicators)

[code]

This used to work with previous versions, but now raises an error with

[code]

The bug was [introduced in this PR](https://github.com/frictionlessdata/frictionless-py/commit/eea8ffb5bd30bc4d1c15dd981b4d4769f5f1e577#diff-f0b7ef231d4ca970a30bb6fb5ac537

[2022-06-21 14:02] shashigharti commented on #1143
Thank you for reporting!

[2022-06-22 01:58] shashigharti commented on #783
@roll for code examples such as this where we do not have command line equivalent shall I keep it as it is or add a tab for python only?
https://framework.frictionlessdata.io/docs/guides/extracting-data#reading-bytes

[2022-06-22 06:30] roll commented on #783
@shashigharti
I think "as it is" is ok

[2022-06-22 12:16] shashigharti commented on #1067
@roll I was thinking of something like this. Sample data: https://drive.google.com/file/d/1iq6ltl-w6IqcHGUtvD3CXbfoDE5lXzxg/view

**Total time to execute:** 0.0950 seconds
**Total time to execute:(pandas)** 0.0232 seconds

[code]

Output:

[code]

[2022-06-23 06:27] roll commented on #1067
@shashigharti
Looks good, let's wait a few days for a feedback if you're not blocked. One thing -- it's better not to call `resource.infer(stats=True)` in the beginning because it will read the whole file (so it will be 2 readings). I think it's enough to have `resource.infer()` in the beginning and use `resource.stats` at the end after file is read and stats are collected

[2022-06-23 14:41] roll opened #1144 "Finalize v5 low-level improvements"
# Overview

Polish, recover all the tests etc

[2022-06-24 14:59] roll commented on #947
FIXED in #944

[2022-06-24 14:59] #947 closed, assigned to roll

[2022-06-25 15:12] aborruso opened #1146 "Is there a CLI way to change the order of fields properties in describe output?"
Is there a way in example to have name before all?

The default output is

[code]

I think that to have name as the first properties is more human readable and I would like to have

[code]

Thank you

[2022-06-26 09:03] roll opened #1147 "Create a check for testing value occurs at least in one row of a table"
# Overview

https://frictionlessdata.slack.com/archives/C0362US1U3G/p1656106359648999

[2022-06-26 09:16] roll commented on #1146
Hi @aborruso,

thanks for the suggestion. I'll implement it in v5 as a part of other metadata improvements

[2022-06-26 09:45] roll opened #1148 "Improve tests for API server"
# Overview

After https://github.com/frictionlessdata/frictionless-py/issues/472 is done we need to write test with a good test coverage

https://fastapi.tiangolo.com/tutorial/testing/

[2022-06-27 08:11] #1143 closed, assigned to shashigharti

[2022-06-27 14:57] roll opened #1150 "Migrate to tabulate@0.8.10"
# Overview

I hope we can now drop "wrap_text_to_colwidths" backport

[2022-06-27 15:00] #783 closed, assigned to shashigharti

[2022-06-27 16:51] naanrdk opened #1151 "Reading s3 bucket objects as resource"

[2022-06-28 06:45] #1151 closed, assigned to nobody

[2022-06-29 13:42] shashigharti commented on #1067
@roll Will the structure be like this ?

-> program -> analyze.py -> actions.analyze()
-> actions
	-> analyze()
	-> analyze_package()
		-> package.analyze() [package->analyze.py]

-> actions
	-> analyze()
	-> analyze_resource()
		-> resource.analyze()

-> package
	-> analyze()
		-> resource.analyze() [resource->analyze.py]
-> resource
	-> analyze()

Usecase: 1
resource = Resource('data.csv')
print

[2022-06-29 13:52] roll commented on #1067
@shashigharti
We don't need actions for now just `resource.analyze` and `package.analyze` (it will be to hard to merge into v5 if work now on actions)

[2022-06-29 16:22] hjoukl opened #1152 "Using Row retrieved by extract(stream=True) in dict-unpacking function invocation ("double star" f(**row)) can fail"
Hi,

many thanks for this cool new library - I've successfully used the fine tableschema- and datapackage-py libs in the past. This looks like a
very nice successor.

Environment: Python 3.6 - frictionless frictionless 4.40.3

I've run into "disturbing behaviour" ;-) when trying to add `description` and `example` attributes to a Resource object's table schema fields. Problem: I want to add to the

[2022-06-30 02:53] shashigharti commented on #1152
Thank you for reporting! We will investigate it.

[2022-06-30 09:16] hjoukl commented on #1152
Thanks for investigating!

Switching to using properties instead of dict item access does not help. I.e. changing my `add_attr` function to
[code]
makes no difference (albeit looking cleaner ;-)).

However, I think I've found the culprit: When trying to add `example` Field properties I'm reading the 1st row like this:
[code]
(not quite sure if that's how one _should_ do this but I haven't found a

[2022-07-01 07:08] roll commented on #904
FIXED in https://github.com/frictionlessdata/frictionless-py/pull/1119 (v5)

[2022-07-01 07:08] #904 closed, assigned to roll

[2022-07-01 09:22] roll commented on #1146
DONE in #1119 (v5)

[2022-07-01 09:22] #1146 closed, assigned to roll

[2022-07-01 09:26] aborruso commented on #1146
Wow, thank you!!

Is there a way to pre install the v5?
Can i have version 4 and version 5 installed together?

[2022-07-02 15:18] roll commented on #944
DONE in #1119

[2022-07-02 15:18] #944 closed, assigned to roll

[2022-07-03 17:26] vlcinsky opened #1155 "field_filter modifies order of labels, but not of values"
transformation pipeline provides function `field_filter` which is not documented much.

My initial expectation was it would take the table and provide new one, having only the columns with specified names and the order of fields would not change.

This is definitely not the case. Current behavior is:
- order of field names in records is changed according to order of names in `names` argument
- how

[2022-07-03 18:31] vlcinsky commented on #1155
Note1: Current **workaround** is to specify `name` with field names in the order as they appear in the data.

Note2: `steps.table_normalize()` does other unexpected things (changing order of headers again leaving values in wrong positions), but until expected behavior of `field_filter` is clarified, it is not worth to deal with that.

[2022-07-03 21:57] dennisangemi commented on #837
Fantastic work! Is there a way to access this function via cli? If yes, could you link me some docs please?

I've done [this](https://github.com/chiaraadornetto/dati-tv-elezioni-ue-2019#readme) manually lol

cc @roll

[2022-07-05 07:59] hjoukl commented on #1152
Just noticed that the title "Dynamically adding information to Resource's schema fields through dict interface provokes incomplete extract(stream=True) result row" was misleading imho, so changed it.

[2022-07-05 08:36] shashigharti commented on #1155
Thank you for reporting!. Looks like the fields value are also being swapped.
{'first': 'v222', 'second': 'v111'}
We will look into this issue.

[2022-07-05 09:40] heewonlee-nj opened #1157 "Type `date/%Y%m%d` with excel cannot be validated"
The type `date/%Y%m%d` is normally validated in the csv file, but not in the xlsx file.
I changed the Cell format from Excel to General, Number, Text, etc. and tried again, but it is the same.
It is also same if I use 'preserve_formatting' in Excel dialect.
Is it a bug in Excel plug-in? Or is there any other way I can try?

datapackage.json
[code]
Test Data:
[test.csv](https://github.com/frictionl

[2022-07-05 15:23] roll opened #1158 "Add a CLI ability to describe data in markdown"
# Overview

We want to export metadata like this:

[code]

From https://github.com/frictionlessdata/frictionless-py/issues/837#issuecomment-1173178536

[2022-07-05 15:25] roll commented on #837
Thanks for the suggestion -- I've added a feature request for it

[2022-07-05 15:42] dennisangemi commented on #837
Wow! Thx ;)

[2022-07-05 17:12] vlcinsky opened #1159 "CLI: How to extract data from a package containing multiple table resources"
# Overview
I am trying to find a way how to extract tabular data from a package containing multiple (tabular) resources.

Extracting data from a package with single tabular resource works fine.

However, there seem to be no way to specify for CLI which of tabular resources to extract.

# Context
Using frictionless 4.40.3 (python package)

OS: Debian 11

# CLI frictionless extract --help
The help f

[2022-07-05 18:53] vlcinsky opened #1160 "Data extracted from package refer to resources using `path` and not `name`"
# Overview

My package contains two resources, named "countries" and "classes" which are read from "COUNTRIES.csv" and "CLASSES.csv"

When extracting the data, I found, that individual resources on output are named using path to CSV files and not using given resource name.

[code]
# `package.yaml` package descriptor

The `package.yaml` file define explicit names for resources:
[code]
# Discussion

[2022-07-05 19:19] vlcinsky commented on #1159
The cause of my problems to extract the data was invalid package.yaml file which I have created using CLI.

I have `COUNTRIES.csv` and `CLASSES.csv` files and have created related resource descriptors `countries.resource.yaml` and `classes.resource.yaml`.

When creating package descriptor, I used:
[code]
expecting it would represent a package with two tabular resources.

In fact, a package with tw

[2022-07-05 19:33] vlcinsky opened #1161 "CLI frictionless `summary` ignores `required` property of fields"
# Overview

`frictionless summary countries.resource.yaml` command ignores real value field property `required`

# Input data

File `COUNTRIES.csv`:
[code]

File `countries.resource.yaml`:
[code]
# Summary output
[code]
As can be seen, `required` columns is empty, regardless of the fact:
- field `CID` is explicitly required
- field `ECC` is explicitly not required
- fields `CCD` and `CNAME` shall

[2022-07-05 23:13] vlcinsky opened #1162 "Proposal for CLI redesign"
I have to admit, that apart from asking for an option to use CLI to validate only selected resource defined in a package (and do similarly sub-resource oriented actions) it turned into request to redesign CLI what is not a small thing.

Please, bear with me. Frictionless Data seem to be my fulfilled dream (I was in search for something like that for years), on the other hand I got confused by CLI

[2022-07-06 14:25] #1067 closed, assigned to shashigharti

[2022-07-07 15:47] vlcinsky commented on #1155
The cause seems to be [in these  lines with for loop](https://github.com/frictionlessdata/frictionless-py/blob/3f4a71d45ae36292fe15e6364a3bd1700ec3cbd3/frictionless/steps/field/field_filter.py#L23-L25) where it removes the fileds from the schema but keeps original ones in original order:

[code]

[2022-07-08 07:04] #1138 closed, assigned to shashigharti

[2022-07-08 08:00] #1150 closed, assigned to shashigharti

[2022-07-08 08:05] heewonlee-nj commented on #1157
Ok, It works with  'preserve_formatting' as true and Cell format as Text. Both options must be applied at the same time.

[2022-07-08 08:05] #1157 closed, assigned to nobody

[2022-07-08 11:06] shashigharti commented on #1147
@roll r we thinking of something like this?

[code]

[2022-07-09 06:14] roll opened #1167 "Add PETL-based formats"
# Overview

As we already have PETL as a dependency we can add support for Whoosh, Avro etc formats relatively simple.

[code]

https://petl.readthedocs.io/en/stable/io.html#module-petl.io.xls

[2022-07-09 06:21] roll commented on #471
Since v5 we consider it's stable and will be working on it based on incoming bug reports and feature requests

[2022-07-09 06:21] #471 closed, assigned to nobody

[2022-07-09 06:22] roll commented on #563
Since v5 we consider it's stable and will be working on it based on incoming bug reports and feature requests

[2022-07-09 06:22] #563 closed, assigned to nobody

[2022-07-09 06:22] roll commented on #564
Since v5 we consider it's stable and will be working on it based on incoming bug reports and feature requests

[2022-07-09 06:22] #564 closed, assigned to nobody

[2022-07-09 06:22] roll commented on #565
Since v5 we consider it's stable and will be working on it based on incoming bug reports and feature requests

[2022-07-09 06:22] #565 closed, assigned to nobody

[2022-07-09 06:31] roll opened #1168 "Implement `steps.table_to_schema`"
# Overview

To achieve the goal from this issue - https://github.com/frictionlessdata/frictionless-py/issues/922 - we can use transform. Initially we needed it for the Livemark Table plugin so it's fine to use transform here.

[code]

On `resource.transform()` it will reshape the data to match the schema.

PS.
We're going to use transform for this to keep our `describe` functionality pure as the i

[2022-07-09 06:33] roll commented on #922
REPLACED by https://github.com/frictionlessdata/frictionless-py/issues/1168

[2022-07-09 06:33] #922 closed, assigned to roll

[2022-07-09 11:57] roll opened #1169 "Implement filesystem/sqlite cache for memory consuming operations?"
# Overview

We have some functions that require collecting data in memory like:
- `checks.duplicate_row`
- `checks.deviated_cell/value`
- `resource.analyze`
- etc

We might provide an internal cache system (switching to filesystem/sqlite) for them to be used as a data cache

# Notes

See https://pypi.org/project/kvfile/

[2022-07-09 14:21] roll commented on #840
DONE in #1119

[2022-07-09 14:21] #840 closed, assigned to roll

[2022-07-09 14:48] roll commented on #868
FIXED in v5 (#1119) (will be released this month)

[code]

or

[code]

[2022-07-09 14:48] #868 closed, assigned to roll

[2022-07-11 08:09] roll opened #1170 "Implement `frictionless convert` command for metadata in CLI"
# Overview

We now have some metadata conversion capabilities built into the framework like `to_markdown`, `to_er_diagram`, etc We'd like to expose this functionality to the cli:

[code]

Note that this action only handle metadata for the data conversion we use `frictinless transform` (at least for now -- later we might think about extending this command to data conversion as a shorcut for the tra

[2022-07-11 08:10] roll commented on #1158
Implemented in v5 (will be released this month):

[code]

And for already existent metadata I've created a feature request - https://github.com/frictionlessdata/frictionless-py/issues/1170

[2022-07-11 08:10] #1158 closed, assigned to roll

[2022-07-11 11:32] roll opened #1171 "Implement verbose/quiet modes for the CLI"
# Overview

We need an ability to show more or less output e.g. don't show every validation error only summary (frictionless validate -q)

[2022-07-11 11:37] roll commented on #1078
DONE in v5 (#1119) (will be released this month)

[2022-07-11 11:37] #1078 closed, assigned to roll

[2022-07-11 11:56] roll commented on #1079
DONE in v5 (#1119) (will be released this month)

[2022-07-11 11:56] #1079 closed, assigned to roll

[2022-07-11 12:02] dennisangemi commented on #1158
Nice! Thank u so much

[2022-07-11 13:18] roll commented on #1147
@shashigharti
I think something like this:

[code]

[2022-07-11 13:19] roll commented on #1147
@shashigharti
Can you please work on this feature using `v5` branch as a base?

[2022-07-11 13:39] roll commented on #1159
Thanks @vlcinsky!

@shashigharti I think we can do the same as we did for the validate adding `--resource-name` option

PS.
Let's work on v5 base branch for this feature

[2022-07-11 13:41] roll commented on #1160
Thanks @vlcinsky! I'll consider changing it for v5. At least we can use `name` primarily and `path` as a fallback

[2022-07-11 13:47] roll opened #1172 "Check for trailing whitespace"
### Discussed in https://github.com/frictionlessdata/project/discussions/736

<div type='discussions-op-text'>

<sup>Originally posted by **rgaiacs** July  7, 2022</sup>
Consider the following CSV file named `invalid.csv`

[code]

Any data visualisation using the above CSV file will have `english` and `english ` (with trailing whitespace) as categories. Would be great to have a trailing whitespace

[2022-07-11 13:53] roll commented on #1162
Hi @vlcinsky,

Thanks for a great and detailed issue! I don't think we can introduce such breaking change for the whole CLI so might be an alternative CLI runner package might be an option?

[2022-07-11 13:59] roll opened #1173 "Ability to restrict number of decimal positions for a number field"
# Overview

See - https://frictionlessdata.slack.com/archives/C0362US1U3G/p1657217803361269

Can it be done via checks or we need a new `fields.NumberField` property for it?

[2022-07-11 14:42] augusto-herrmann opened #1174 "Have sensible defaults for `innerpath` in `Package` class"
# Overview

Current behaviour when instantiating the `Package` class with a zip file or url is to look for a file named `datapackage.json` inside. If none is found, it throws an exception.

## Example

[code]

this throws an exception because the zip file does not contain a `datapackage.json`, but a `datapackage.yaml`. Specifying an `innerpath` argument makes it work:

[code]

## Proposal

In orde

[2022-07-12 07:17] vlcinsky commented on #1162
Do you mean separate python package (installed independently from `frictionless-py`) or alternative CLI within existing package?

You are right, the change is extensive. In long term I could imagine, we start with alternative CLI within frictionless-py, keep it marked as experimental or beta for a while until it matures and finally deprecate the existing CLI to keep it more manageable.

[2022-07-12 11:06] roll opened #1175 "Support `dialect.last_comment_rows`"
# Overview

It's been requested multiple times as it's a common practice to have comments at the bottom of csv files.

The implementation should create a buffer in `dialect.read_enumerated_content_stream` (also see `dialect.create_comment_filter`) (v5) which has size equal to the comment rows amount.

[2022-07-13 15:12] roll commented on #1162
Yes I think an additional CLI runner package similar to js projects like webpack-cli. It might be a good first step to test the idea

[2022-07-14 02:09] kagawa0710 commented on #1174
@roll Hi! Can I try to extend this feature?

[2022-07-14 04:00] rgaiacs opened #1176 "'csvddfVersion' was unexpected"
Consider the minimal working example:

[code]

When I use `frictionless` to validate it, I get

[code]

Based on https://specs.frictionlessdata.io/csv-dialect/, `csvddfVersion` is a valid property.

[2022-07-14 04:42] rgaiacs opened #1177 "Validate fails with package-error "not valid under any of the given schemas""
Consider the _Tabular Data Package_ [example from the documentation](https://specs.frictionlessdata.io/tabular-data-package/#example):

[code]

Validate the above  _Tabular Data Package_ fails with package-error:

[code]

Can you help me fix?

[2022-07-14 07:00] shashigharti commented on #1177
Thank you for reporting!  We will look into it.

[2022-07-14 07:35] shashigharti commented on #1177
@rgaiacs Currently, the name for the resource is required by these profiles. Can you please try this:
[code]
We are improving this in V5 which we are currently working on.

[2022-07-14 07:44] rgaiacs commented on #1177
@shashigharti Thanks. Works for me now.

[code]

I will open a PR to https://github.com/frictionlessdata/specs/.

[2022-07-14 07:44] #1177 closed, assigned to shashigharti

[2022-07-14 08:33] shashigharti commented on #1176
Thank you for reporting it! We will investigate it.

[2022-07-14 11:49] roll commented on #1174
@kagawa0710
Hi, sure!

[2022-07-14 12:30] roll commented on #1147
DONE in https://github.com/frictionlessdata/frictionless-py/pull/1178

[2022-07-14 12:31] #1147 closed, assigned to shashigharti

[2022-07-15 08:08] kagawa0710 commented on #1174
@roll
I sent a pull request!

[2022-07-15 13:44] roll opened #1181 "Enable "strict" mode for static type checking"
# Overview

In v5 we enabled static type checking using pyright; in the next major release we'd like to enable the "strict" mode for the whole codebase or most of it (currently, we enabled it for some files as a pilot). Also, we'd like to remove as much as possible "#type: ignore" lines.

[2022-07-15 15:34] roll commented on #1113
DONE for v5

Will be continued for v6 - https://github.com/frictionlessdata/frictionless-py/issues/1181

[2022-07-15 15:34] #1113 closed, assigned to roll

[2022-07-16 04:38] augusto-herrmann opened #1183 "Add support for running development environment in a Docker container"
# Overview

This project has not only Python dependencies, but also (few) system-level dependencies (namely the Postgres CLI). In order to keep package versions completely isolated, one may prefer to run the development environment inside a Docker container instead of just using a Python virtual environment.

It should be possible to build and run a Docker container for the development environment

[2022-07-16 06:23] roll commented on #1160
DONE in v5 (#1119) (will be released this month)

[2022-07-16 06:23] #1160 closed, assigned to roll

[2022-07-17 07:25] roll opened #1185 "Integration with Github as a data portal"
# Overview

An important step for Frictionless Framework is to provide an ability to read and write packages from different data portals (CKAN/Github/Zenodod/etc) so the users can publish and access their packages easily and using a straightforward API. This issue is for Github integration. The implementation is already prototyped in v5 branch.

## Specs

### Read package

Read package from a repo

[2022-07-18 07:15] #1176 closed, assigned to roll

[2022-07-18 07:21] roll opened #1187 "Release v5"
# Overview

We're releasing v5.beta (https://github.com/frictionlessdata/frictionless-py/issues/1120) in July and we will release the final version in a few month after it

[2022-07-18 07:38] roll commented on #1176
Hi I've released a fix in v4.40.4

[2022-07-18 07:58] roll opened #1190 "Integration with a Figshare as a data portal"
# Overview

[code]

[2022-07-18 12:14] roll commented on #1161
Hi @vlcinsky, according the the specs - https://specs.frictionlessdata.io/table-schema/ - it needs to be set as:

[code]

[2022-07-18 12:16] roll commented on #1161
I suggest @shashigharti add a validation error if `field.required` is provided in #1193 with a message that this property needs to be set as `field.constraints.required`

[2022-07-18 12:19] #1183 closed, assigned to augusto-herrmann

[2022-07-18 12:24] #1174 closed, assigned to kagawa0710

[2022-07-18 13:03] vlcinsky commented on #1161
@roll good catch.

Anyway, do not forget, that by default the `constraint.required` property of the field is True. So even if I would fix my schema for the field `CID` and `ECC`, the `CCD` and `CNAME` fields share be reported as required.

[2022-07-18 13:11] roll commented on #1161
@vlcinsky
All the constraints are optional - https://specs.frictionlessdata.io/table-schema/#constraints - including `required`. So it's`false` by default

[2022-07-18 13:21] vlcinsky commented on #1161
@roll this explains couple of things.

[2022-07-18 15:01] roll commented on #1152
Hi @hjoukl!

The problem is that the row is lazy evulated (that's why print fixes it). We can make the code work by using `row.to_dict()`:

[code]

Currently, we're in v5 reworking the way Frictionless works with Metadata; making it simpler and easier. The next step for us will be revising the `Row` class; maybe also making it simpler to prevent this kind of edge case confusing sutuations

[2022-07-18 15:01] #1152 closed, assigned to roll

[2022-07-18 15:15] #1155 closed, assigned to roll

[2022-07-18 15:37] hjoukl opened #1196 "Writing resource data to sqlite DB raises "sqlite3.OperationalError: too many SQL variables""
Hi,

writing sufficiently "wide" (i.e. number of fields/colums) and "long" (as in number of rows) table data easily runs into "sqlite3.OperationalError: too many SQL variables" for SQLite.

The reason seems to be how the Insert operation is done here:

https://github.com/frictionlessdata/frictionless-py/blob/3e6354e42a8d68a4b06f52858514d09ae871b994/frictionless/plugins/sql/storage.py#L324-L336

Fo

[2022-07-18 15:43] hjoukl commented on #1152
I see. So exactly what I noticed in my previous comment:

Thanks for the update,
Holger

[2022-07-18 15:51] roll commented on #1152
Ohh I missed the last bit 👍

[2022-07-19 09:06] roll commented on #1102
DONE in #1197

[2022-07-19 09:06] #1102 closed, assigned to aivuk

[2022-07-19 09:30] roll commented on #1161
The warning has been added in #1193 (will be released in v5 this month)

[2022-07-19 09:30] #1161 closed, assigned to shashigharti

[2022-07-19 09:34] roll commented on #1159
DONE in https://github.com/frictionlessdata/frictionless-py/pull/1194 (will be release as a part of v5 this month)

[2022-07-19 09:34] #1159 closed, assigned to shashigharti

[2022-07-19 13:52] roll opened #1198 "Integration with data.world as a data portal"
# Overview

[code]

[2022-07-20 13:07] roll opened #1200 "Integration with DataONE as a data portal"
# Overview

https://search.dataone.org/data/mode=list

[2022-07-20 14:40] roll opened #1201 "Show progress during CLI validation"
# Overview

We need to explore possibilities but many CLI tools do it. We can shoe row count / etc

[2022-07-22 01:06] rgaiacs opened #1202 "Describe resource to provide bytes and hash"
Consider the following minimal CSV file:

[code]

In Python, I run

[code]

and the output is

[code]

Will be create that `frictionless.describe` also include properties `bytes` and `hash`.

[2022-07-22 06:44] roll commented on #1170
DONE in #1195

[2022-07-22 06:44] #1170 closed, assigned to shashigharti

[2022-07-22 08:27] roll opened #1203 "Possible improvements to the parquet format implementation"
# Overview

From @ewheeler

One thing to note-- fastparquet and pyarrow libraries have some parquet handling differences with pandas:
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-parquet
https://github.com/pandas-dev/pandas/issues/42968#issuecomment-965318185

In the words of a pandas contributor: "Summary: it's a mess :)"

Pandas defaults to pyarrow and fails over to fastpar

[2022-07-22 12:19] roll commented on #1202
Hi @rgaiacs,

You need to provide the stats argument:

[code]

Currently, it will add the stats dictionary to the metadata but from v5 (which is about to be released) you can do:

[code]
To make it `bytes/hash` on the root

[2022-07-22 14:10] khughitt commented on #1203
Hi @roll,

Thanks for tackling this and taking the time to think it through!

Couple quick thoughts:

1. One advantage of going with pyarrow over fastparquet is that it should make it quite easy to support other Arrow file formats such as feather/[IPC](https://arrow.apache.org/docs/format/Columnar.html#ipc-file-format). There is also a lot of momentum behind pyarrow right now, and the [API](https:

[2022-07-24 06:04] roll opened #1205 "Recover specific tests in v5"
# Overview

In v5 branch we still have some tests fail because of the codebase changes. For every failing test we need update the test to match a new v5 behaviour (e.g. updating fixture). For some cases, it can be a bug in the codebase (ping @roll to check)

# List of tests

The tests that need to be fixed that way is marked as:

[code]

We can use search to find them, for example - https://github

[2022-07-24 08:27] roll commented on #1205
Currently:

[code]

[2022-07-25 06:12] roll commented on #1203
Thanks @khughitt!

And great benchmark BTW :+1:

[2022-07-25 06:38] #1202 closed, assigned to roll

[2022-07-25 06:45] roll commented on #1196
Thanks @hjoukl!

@shashigharti can you please take a look?

[2022-07-25 08:50] roll commented on #1205
Added more:

[code]

[2022-07-25 08:52] roll commented on #1205
@shashigharti
For metadata conversion tests consider assertions with parsed data instead of textual data e.g.:

[code]
Otherwise it might be too fragile

[2022-07-25 12:36] shashigharti commented on #1205
@roll I don't see new tests with tag @pytest.mark.xfail(reason="issue-1205") in v5 branch
https://github.com/frictionlessdata/frictionless-py/blob/v5/tests/program/test_summary.py#L109

[2022-07-27 09:35] rishubil opened #1206 "Cannot validate with basepath option if file name contains square brackets"
Cannot validate with basepath option if file name contains square brackets.

I think `is_expandable_path` is the cause.

https://github.com/frictionlessdata/frictionless-py/blob/6c120a1716abc8c5a825a88c62a91ba0935be4b1/frictionless/helpers.py#L228-L234

`is_expandable_path` checks `glob.has_magic`, which seems to recognize the brackets contained in the actual filename as the pattern used by `glob`

[2022-07-27 13:34] n0rdlicht opened #1207 "CKAN plugin import violates name pattern validation"
# Overview

When using `format: ckan` the name of the resource/package is directly copied from the name the portal uses. This leads to violations in name validation.

Example:
[code]

[code]

Please replace this line with full information about your idea or problem. If it's a bug share as much as possible to reproduce it

[2022-07-28 12:11] roll commented on #1205
DONE in #1209

[2022-07-30 06:35] roll opened #1210 "Pandas warning "Comparison of Timestamp""
# Overview

In v5 branch for this test:

[code]

We get a warning:

[code]

[2022-07-30 06:36] roll opened #1211 "OdsPareser for writing creates more cells than we provide in data"
# Overview

See this failing test:

[code]

[2022-07-30 06:38] roll opened #1212 "SpssParser ignores timezones"
# Overview

See this failing test:

[code]

There are 2 strategies to fix it:
- as in pandas -- full TZ support
- as in SQL -- convert to UTC

[2022-07-30 06:50] roll opened #1213 "BigQuery parser ignores timezone"
# Overview

See this failing test:

[code]

There are 2 strategies to fix it:

as in pandas -- full TZ support
as in SQL -- convert to UTC

[2022-07-30 08:04] roll opened #1214 "SqlParser behavior is not correct with `Dialect(header=False)`"
# Overview

See this failing test:

[code]

[2022-07-30 08:09] roll opened #1215 "Compressed multipart resource doesn't work"
# Overview

See this failing test:

[code]

[2022-07-30 08:42] roll opened #1216 "Bigquery parser works incorrectly with no header data"
# Overview

See this failing test:

[code]

[2022-07-30 08:50] roll opened #1217 "Recover BigQuery support: migrate from legacy Storage API and outdated Google client"
# Overview

It needs to be moved to Parser/Manager and the bigquery client needs to be updated

[2022-08-01 04:19] shashigharti commented on #1196
Thank you @hjouki!

SQLITE_MAX_VARIABLE_NUMBER is the max number of fields/columns not (rows x columns) and max limit is 32766 for SQLite version > 3.32.0.

I am using version 3.38.5 and tested with 191(columns) X 1000 (rows)  and it worked fine. I used this excel sheet https://docs.google.com/spreadsheets/d/12VbraN-O_gBpP246wTWdaK4BkvLYNIUm1LkXSRQzbaE/edit#gid=566358228
And I think 32766(column n

[2022-08-01 06:34] roll opened #1218 "Support markdown/html output for describe/validate in CLI"
# Overview

This is basically implemented within framework but not really exposed (although we already support `frictionless describe --markdown`

## Specs

[code]

## Plan

- [ ] implement `metadata.to_html()` -- should be as easy as ` platform.marko.convert(self.to_markdown())`
- [ ] add `html` support to `program.describe`
- [ ] add `markdown` support to `program.validate`
- [ ] add `markdown`

[2022-08-01 06:57] roll commented on #1207
Thanks @n0rdlicht

We're reworking ckan support for v5 -- we will fix this problem also. A beta is about to be released but ckan rework is more probably be ready around early September

[2022-08-01 07:13] roll commented on #1206
Thanks @rishubil we will fix it

[2022-08-01 08:59] hjoukl commented on #1196
Hi @shashigharti,

thanks for getting back!

I kindly disagree ;-)

According to  https://www.sqlite.org/limits.html: "A host [parameter](https://www.sqlite.org/lang_expr.html#varparam) is a place-holder in an SQL statement that is filled in using one of the [sqlite3_bind_XXXX()](https://www.sqlite.org/c3ref/bind_blob.html) interfaces."

So as you yourself show the number of parameters applied in

[2022-08-01 14:33] roll opened #1219 "Support WHERE/PREDICATE for suitable steps"
# Overview

There are many PETL transforms that accepts WHERE argument, for example, for updating field values. Eventually, we'd like to support this functionality too.

[2022-08-01 16:47] hjoukl commented on #1196
Hi @shashigharti ,

Have checked now :-):

With a slightly modified test program for modifying the number for columns/rows:

[code]

To not run into the very restricted limits of the sqlite versions on RHEL7 and RHEL8 I tested on my Kubuntu 20.04 machine. FWIW this also still features an sqlite version < 3.32.0, namely 3.31.1:

[code]

However, (K)Ubuntu / Debian seem to drastically raise the (com

[2022-08-02 07:14] hjoukl commented on #1196
I got curious so hacked together a rather naive benchmark (timeit-based, measurements without any precautions to keep the machine idle apart from the benchmark process).

[code]

In my initial tests this seems to clearly hint - for the sqlite3 engine at least - that applying `executemany` is (vastly) superior to "named/numbered parameters for all row values":

[code]
(unless I've made some really

[2022-08-02 07:29] shashigharti commented on #1196
Thank you again for the detailed explanation :) and benchmark code.

After some testing again, I agree with you that SQLITE_MAX_VARIABLE_NUMBER is not total fields. I was assuming that it was the total limit for the variables/fields in "single sql statement for one row", based on this question https://stackoverflow.com/questions/64419397/sqlite-max-variable-number-increase-or-break-sql-query-into-

[2022-08-02 08:19] roll opened #1220 "Recover steps.table_pivot"
# Overview

See this failing test:

[code]

[2022-08-02 09:04] hjoukl commented on #1196
@shashigharti thanks for investigating further!

One quick remark:

That's what I also figured out in the meantime, thanks for confirming. :-)
I applied the same approach in the benchmark of my last comment.

From `sqlite3 app.db 'pragma compile_options;'`, do you get `MAX_VARIABLE_NUMBER` output? Then that's what's relevant instead of the sqlite version number. E.g. my Kubuntu (Debian) sqlite pac

[2022-08-02 12:21] roll opened #1221 "Recover steps.table_merge"
# Overview

See failing tests in the corresponding test file

[2022-08-04 08:48] roll opened #1222 "Improve foreign keys validation"
# Overview

Currently, in v5 we do normalizationfrom standards@1 in the `Schema.from_descriptor` step and lose some validation errors because of it e.g. missing `foreignKeys.reference.resource`. See this failing test:

[code]

Also, it will be better to rebase on a proper ForeignKey class as it's error prone to work with dicts in the model.

[2022-08-06 17:51] aborruso commented on #930
@roll what about to add in the CLI help the default value for `--limit-errors`.

Something like

[code]

And if there is also a default value for `--limit-memory`, add this to   `--limit-memory` CLI help message.

[2022-08-08 05:17] shashigharti commented on #1185
@roll, this is what I prototyped for the github api. I am still adding the tests. WDYT?

For "write" testing  pytest.mark.vcr works fine. I checked the code of PyGithub and it is also using data replay
https://github.com/PyGithub/PyGithub/tree/master/tests/ReplayData

[code]

[2022-08-08 06:07] roll opened #1223 "Add default values to CLI options help when applicable"
# Overview

https://github.com/frictionlessdata/frictionless-py/issues/930#issuecomment-1207254960

[2022-08-08 06:08] roll commented on #930
Thanks @aborruso -- I've created an issue for it

[2022-08-08 06:14] roll commented on #1196
Thanks for the amazing input @hjoukl!

@shashigharti and I will be discussing it soon with the team

[2022-08-08 07:12] aborruso commented on #930
Thank you!

[2022-08-08 13:26] hjoukl commented on #1196
Hi @roll and @shashigharti,

great to see you considering this issue! Just a note wrt the classification change from bug to enhancement:

Since stock RHEL8 seems to have below sqlite3 defaults (sqlite version + compile options) the usability of `frictionless-py` is severely limited on this platform, which I think is in _very_ widespread use in "enterprisey" Linux environments (probably predominant

[2022-08-08 14:33] roll commented on #1206
It's been fixed in v5 branch in #1119 (we're about to release this version)

[2022-08-08 14:33] #1206 closed, assigned to roll

[2022-08-09 05:13] shashigharti commented on #1196
Thank you very much @hjoukl. Sorry for the late response. Yes it is because I am using ubuntu the SQLITE_MAX_VARIABLE_NUMBER is set to 25000.

[2022-08-09 05:18] shashigharti commented on #1196
Thank you again for the benchmark code! 'executemany' seems to be faster than 'named/numbered parameters'!.

Please feel free to create a PR for it or I can create one whichever is fine for you.

[2022-08-09 05:26] shashigharti commented on #1196
Current solution that I can think of, would be reducing the chunk size and the optimizing the insert statement using execute many([benchmarking code above](https://github.com/frictionlessdata/frictionless-py/issues/1196#issuecomment-1202107290)). And also investigating it with other DB backends. WDYT? @hjoukl @roll @aivuk

[2022-08-09 08:49] hjoukl commented on #1196
Hi,

I'll be glad to come up with a PR with the proposed simple fix (switch to executemany, not touching the current chunk size implementation or trying to further optimize) and a simple test.

Can't promise _benchmarking_ other DB backends though. I'll try to take a look but no promises.

One caveat: I'll be travelling for 3 weeks from next week on. So if I'm not getting to land the PR this week

[2022-08-10 02:59] shashigharti commented on #1196
I think that is fine :).

Mysql, postgresql and sqlite for now

@roll @aivuk WDYT?

[2022-08-11 16:12] roll commented on #1144
DONE in #1119

[2022-08-11 16:12] #1144 closed, assigned to roll

[2022-08-11 16:24] areleu opened #1227 "Add iterrows method to Resource to avoid replacing the default __iter__ method"
# Overview

I think this is critical, I was trying to use the package with my own json schema profile and I was always getting this weird error "unhashable type: Row". This is because the jsonschema library tries to iterate over the elements of the Resource.

# Solution
I think the best solution is to add an iterrows method that goes through the rows in the resource. And replace every place where

[2022-08-12 06:53] roll commented on #1185
@shashigharti
Can you please also implement publishing functions on the Package class?

[code]

[2022-08-12 06:56] roll commented on #1185
Someting like this:

[code]

Then we need to use it in tests for writing/publishing

[2022-08-12 07:14] shashigharti commented on #1185
Thanks. I have implemented to_github and from_github. I will add publish also.

[2022-08-15 06:48] shashigharti commented on #1185
@roll I have made changes as per your feedback and added new tests. It is ready for review.
Few questions I have in mind:

- I added publish function but both to_github and publish has same functionality 'write_package' should I add new function for publish in manager.
- Write function only writes datapackage.json file. Shall I add function to write resources?
- I haven't yet added tutorial, I wil

[2022-08-15 07:06] roll commented on #1196
@shashigharti :+1: mysql, portgresql and sqlite

Thanks for helping with this issue @hjoukl!

[2022-08-15 07:12] roll commented on #1185
Thanks @shashigharti! I'll start preparing a review now

[2022-08-15 10:55] roll commented on #1227
Thanks @areleu!

The `resource.__iter__` is removed in v5 which is about to be released for public beta testing. We can't do the same in v4 as it's a breaking change.

So currently in v4, one can use:

[code]

and as you mentioned:

[code]

for exporting a descriptor

[2022-08-15 10:55] #1227 closed, assigned to roll

[2022-08-15 11:57] areleu commented on #1227
Thanks a lot! I will be very happy to start testing v5 right away. I let you know if I find some issue.

[2022-08-15 12:10] roll commented on #1227
Great! We're going to put a first public version of v5 on PyPi this week

[2022-08-18 11:57] loleg commented on #536
How is it going, any chance there will be a PR on your dataflows branch @gperonato ?

[2022-08-21 09:20] aborruso opened #1230 "CSV validation: is it RFC 4180 compliant?"
Hi,
if I run

[code]

I have "valid" result.

But in RFC 4180 I have "Fields containing line breaks (CRLF), double quotes, and commas should be enclosed in double-quotes."

In the input I have the cell `LISTA CIVICA | "SAINT-OYEN - TRAVAILLI EUNSEMBLO"` and this is not a valid RFC 4180 cell.
It should be `"LISTA CIVICA | ""SAINT-OYEN - TRAVAILLI EUNSEMBLO"""`.

Then the question is: should frictio

[2022-08-21 09:31] aborruso opened #1231 "Write in the documentation what's the CLI extract default encoding"
Hi,
if I understand correctly, it's UTF-8. If it is confirmed I would write it in the documentation.

Thank you

[2022-08-21 16:58] aborruso opened #1232 "Adding a field inferencing "subrule", otherwise very often I would have wrong extracted values"
Hi,
daily I work with data where some columns have only numerical values in the cells, but which are actually string fields.

A typical case is that of administrative codes, of regions, provinces and cities (in the table below `codice_regione`, `codice_provincia` and `codice_comune` fields). In Italy, the city of Losine has the code `0870`, and obviously it's a string, and it must remain a string,

[2022-08-22 07:59] roll commented on #1230
Thanks @aborruso, we will investigate

[2022-08-22 08:01] roll commented on #1232
Thanks @aborruso, we will discuss it but I think it makes sense

[2022-08-22 14:41] roll commented on #1133
DONE in https://github.com/frictionlessdata/frictionless-py/pull/1119

[2022-08-22 14:41] #1133 closed, assigned to roll

[2022-08-22 15:08] #1205 closed, assigned to shashigharti

[2022-08-24 08:22] roll commented on #1123
DONE in #1119

[2022-08-24 08:22] #1123 closed, assigned to roll

[2022-08-25 11:58] roll commented on #1120
DONE in https://github.com/frictionlessdata/frictionless-py/pull/1119

[2022-08-25 11:58] #1120 closed, assigned to roll

[2022-08-25 12:01] #1185 closed, assigned to shashigharti

[2022-08-25 13:02] roll opened #1238 "Github integration follow-ups"
# Overview

We're like to add after the initial implementation:

- more reading data tests (not only metadata assertions but also data)
- probably it will be better to have output descriptors in the tests (as a consts?) not in contest (hard to follow)
- recover writing tests on Windows/MacOS (copy `.env.example` in github actions and disable SQL tests using `skipif`)
- docstrings for control's pro

[2022-08-25 13:49] roll opened #1239 "Support Gitlab as a data portal"
# Overview

Requested by community as a follow-up of the github integration

[2022-08-26 05:59] roll commented on #1134
Implemented in #1119

[2022-08-26 05:59] #1134 closed, assigned to roll

[2022-08-28 08:24] aborruso commented on #1133
Hi @roll is there a public url to preview the 5.0 documentation?

Thank you

[2022-08-29 06:16] roll commented on #1133
Hi @aborruso the docs now are:
- v5: https://framework.frictionlessdata.io/
- v4: https://v4.framework.frictionlessdata.io/

[2022-08-29 06:20] roll commented on #1230
I think it's similar to the issue we discussed a few month ago, I guess in this case the software also can't figure out a data publisher intention regarding quotes and for software it's RFC4180 compliant but with a content non intended by an author. What I can't understand in this case is why validation doesn't fail with some dimension error like extra/missing-cell if the parser reads cells incorr

[2022-08-29 06:24] aborruso commented on #1133
WOW!!!

Thank you

[2022-08-29 06:47] roll commented on #1232
@shashigharti
I think we need to return None if it starts from '0' here:
- https://github.com/frictionlessdata/frictionless-py/blob/main/frictionless/fields/integer.py#L36
- https://github.com/frictionlessdata/frictionless-py/blob/main/frictionless/fields/number.py#L66

I guess it's the right solution as leading zeros might be really confusing e.g. Python doesn't allow them:
[code]

[2022-08-29 06:49] roll commented on #1232
Another question if `integer/number.bareNumber` is set to False we might need to allow leading zeros to make possible to have a numeric column like this

[2022-08-29 11:40] shashigharti commented on #1230
We use csv.reader underhood and the default value for CSV.reader dialect is:
quoting = QUOTE_MINIMAL
quote_char = "

So it parses the cell correctly even if there is "double quote" in the cell  which is not enclosed in "".

Here we use sniffer to predict the default dialect params.
https://github.com/frictionlessdata/framework/blob/main/frictionless/formats/csv/parser.py#L33

So I think it is pars

[2022-08-29 15:29] aborruso commented on #1230
@shashigharti @roll then currently frictionless can mark as valid a CSV file that is not RFC 4180 compliant. Am I right?

It would be very useful to add a validate option - `--rfc4180` - to make frictionless able to run a full RFC 4180 check.

[2022-08-30 04:54] shashigharti commented on #1230
yes. And I tried using default config as well(python csv reader) but it doesn't complain even if RFC 4180 doesn't apply.
I think this thread is relevant where they discuss about RFC-strict dialect:
https://github.com/python/cpython/issues/70044

Yes it would be useful, but not sure how we can add it if csv reader itself doesn't  raise error about it. Looking for the feedback.

WDYT @roll @aivuk?

[2022-08-30 05:20] roll commented on #1230
I don't think it's possible ATM -- we just "don't see" these quotes (missing or provided) as we operate with a byte stream before csv.parser and a cell stream after csv.parser

[2022-08-30 05:26] roll commented on #1230
BTW, RFC 4180 - https://www.ietf.org/rfc/rfc4180.txt

[code]

TBH I don't see any MUST requirements here. Usually SHOULD (and of course MAY) are not considered as obligatory

Also, Frictionless' comment on this RFC - https://specs.frictionlessdata.io/tabular-data-resource/#csv-file-requirements (for example, the file we're discussing is not RFC 4180 valid anyway as it's not comma separated)

[2022-08-30 06:27] aborruso commented on #1230
Hi @roll and as usual, thank you for your time.

In the CSV RFC you have a lot of "should", because is a RFC and not a final definition of the standard.

Just to give an example of another "should" for a very important element: "*Each line should contain the same number of fields throughout the file.*"

In this comment I read "CSV files `MUST` follow RFC 4180 with the following important exception

[2022-08-30 11:39] shashigharti commented on #1231
Hi @aborruso

Thank you. While reading files, detect_encoding function infers the encoding and if encoding is not detected or if it detected with less confidence, then the default is set to UTF-8.

[detect_encoding](https://github.com/frictionlessdata/framework/blob/main/frictionless/detector/detector.py#L192)

[2022-08-30 13:05] aborruso commented on #1231
Hi @shashigharti and thank you.

I probably haven't explained myself.

I have this [csv file](https://github.com/frictionlessdata/framework/files/9452983/input-iso8859-1.zip) `iso8859-1` encoded.

If I describe it, I have back the right encoding:

[code]

If I extract it, simply run

[code]

the output file does not keep the original encoding, but it's a UTF-8 CSV file.
If you confirm this to me,

[2022-08-30 13:07] aborruso commented on #1009
@roll will there be any news on this point with the 5 release?

Thank you

[2022-08-30 13:45] roll commented on #1009
@aborruso
The v5 changes have not affected it so I'll prioritize this now

[2022-08-30 16:53] shashigharti commented on #1230
Hi @aborruso, thanks again.

I agree with you that it would be nice to have a feature that could check quotes inside cell, but it may not be possible atm and we need to wait until it's resolved in python parser. Because built in python parser library which we use, does not raise any error but tries to adhere to RFC 4180 standard by adding quotes silently while parsing.

For example:
[code]
## usec

[2022-08-30 17:23] aivuk commented on #1230
I agree with what @shashigharti  said above, better to wait to see if a strict mode is implemented in the standard csv library or look for another library.

There is the library https://github.com/alan-turing-institute/CleverCSV that is a drop in substitute to the standard csv library and it can convert a csv to a RFC 4180 compliant one, but it also don't raise an exception when a row is not compl

[2022-08-30 17:52] aborruso commented on #1230
Ok, I close it. Consider for yourself whether to include this validation exception in the documentation.

And thank you very much

[2022-08-30 17:52] #1230 closed, assigned to shashigharti

[2022-08-30 18:34] shashigharti commented on #1231
Thank you @aborruso  for explanation. yes the default encoding for the output is 'UTF-8'.

[2022-08-30 18:41] aborruso commented on #1231
Ok, I think it's important to add a note in the documentation about it.

[2022-08-31 06:19] #1231 closed, assigned to shashigharti

[2022-08-31 06:33] aborruso commented on #1231
Thank you very much @shashigharti and @roll

[2022-09-02 12:52] areleu opened #1245 "V5: Pandas and numpy array errors when validating resources"
# Overview

If you run the validate command in a resource that has pandas dataframes it will fail at

https://github.com/frictionlessdata/framework/blob/86318877da848fd348070c08b4dee86b1e18adf7/frictionless/resource/resource.py#L330

and

https://github.com/frictionlessdata/framework/blob/86318877da848fd348070c08b4dee86b1e18adf7/frictionless/resource/resource.py#L1247

and

https://github.com/fric

[2022-09-06 06:11] shashigharti opened #1248 "Error parsing parquet file"
# Overview

While describing data from local parquet file works and same file when accessed from github shows error.
[code]
[code]
[code]

[2022-09-08 11:57] l-vincent-l opened #1251 "Cast int cell to string in excel file"
Let's say I want to parse the attached file.
It has in the A column `string` or `int`, but I want every cells of that column to be `string`.

I tried with this package.yaml

[code]

and runned this python script

[code]

I have this error when I try to tranform it with `field-merge`
[code]

Is there a way to cast all ints in `string` ?

[example.xlsx](https://github.com/frictionlessdata/framework/

[2022-09-09 15:08] l-vincent-l opened #1252 "Unable to do a table-write of a table with foreignkeys to a postgres database"
If I have this `package.yaml` file
[code]

*TLDR* This file describes a package with 2 resources :
 * one is the list of towns if France, it's stored in a postgresql table
 * the other one describes data linked to towns, and it has a pipeline that writes this table to the postgresql datababase.

 Currently this doesn't work because when we called the `table-write` on the resource we don't have kno

[2022-09-12 07:24] roll commented on #1251
@l-vincent-l
Thanks for reporting! We will investigate both issues

[2022-09-12 19:50] a-wyatt opened #1254 "Parquet file extension support - .parq .parquet or both"
# Parq vs Parquet

Hi,

I am new to the frictionless framework and also leaving git issues so apologies in advance if insufficient context or insight provided just trying to provide some feedback for what it may be worth and also potentially may influence use of extension chosen for projects. I am encouraged by lots of the new features in v5, namely catalogs and support for parquet - this seems re

[2022-09-13 06:26] #1238 closed, assigned to shashigharti

[2022-09-13 12:18] #1232 closed, assigned to shashigharti

[2022-09-13 13:09] aborruso commented on #1232
Wow @roll thank you.

I am very happy to have contributed in terms of ideas.

How to install the current 5 dev version?

[2022-09-13 13:16] roll commented on #1232
Hi @aborruso,

It requires `--pre` modifier - https://framework.frictionlessdata.io/docs/getting-started.html#installation

[2022-09-15 21:14] hjoukl commented on #1196
Hi there @shashigharti @roll,
PR #1255 is there (finally) - sorry for the long silence.

That's the minimal code change discussed in previous ticket comments plus accompanying test.

As a little extra and compensation for your patience I've benchmarked the principal `executemany` approach against the one previously used in frictionless-framework `storage.py`. You can find it all here: https://gith

[2022-09-19 15:07] davidlday opened #1256 "Plugins Reference Missing"
# Overview

In the documentation, the "Getting Started" page refers to the [list of Frictionless Framework plugins and their status](https://framework.frictionlessdata.io/docs/references/plugins-reference). However, that page doesn't appear to exist any more. Where can I find a current list of plugins and their status?

Thank you!

[2022-09-21 10:06] shashigharti commented on #1251
Hi @l-vincent-l,

Thanks!. Can you please try the following methods:

1. First method: Set the format of the column in excel file to string and then read the resource. And use preserve_formatting=True as follows:
[code]
[code]

2. Second method: Use CSV format.

[code]

[code]
Files used
[example.csv](https://github.com/frictionlessdata/framework/files/9615528/example.csv)
[example.xlsx](https://g

[2022-09-21 11:04] yohanboniface commented on #1251
Jumping in (I work with @l-vincent-l ) to add a bit of context to the initial question

We use Frictionless/Table Schema in a workflow where we do not control the data/dataset production. Instead, we actually use Frictionless/Table Schema to add a postprocess schema so to "normalize" the data before it get imported.

Does that usage makes sense to you ?

Thanks!

[2022-09-21 11:33] shashigharti commented on #1251
Thanks @yohanboniface. I did not understand fully. Could you please explain in detail your usecase with data ? Question that I have is:

-> Is data generated/produced of same type or different in terms of files, format?

[2022-09-21 11:50] yohanboniface commented on #1251
@shashigharti we have an ETL where we ingest data that we do not produce. The dataset file and format is known, but we cannot change it.

In other words, we want to be able to import any dataset from anywhere on the Internet, "just" by defining a "schema file" on our side that would give to our ETL the rules needed to "normalize" the data before importing it in our database. By normalizing, I mean

[2022-09-21 17:58] botanize opened #1258 "validator requires fields of CSV to be exactly the same as fields in schema, in violation of table schema spec"
# Overview

The frictionless table schema recommends but does not required that the data file contains the exact same fields as the schema.

From the [table schema spec](https://specs.frictionlessdata.io/table-schema/#descriptor):

However, validation fails due to missing-label, incorrect-label and missing-cell errors when optional fields are not included in the data.

Most people interpret an "op

[2022-09-22 09:06] shashigharti commented on #1251
Thanks! @yohanboniface, now it is clear.

I will discuss this with @roll  and reply here.

[2022-09-22 09:25] shashigharti commented on #1256
Hi @davidlday

You can find it here for now: https://v4.framework.frictionlessdata.io/docs/references/plugins-reference . We will fix the broken link.

[2022-09-22 10:27] shashigharti commented on #1258
Thank you! @botanize.

This errors can be skipped using `--skip-errors` argument.
`--skip-errors missing-label,incorrect-label,missing-cell`

[2022-09-22 14:16] botanize commented on #1258
Sure, they can be skipped, but then you skip all errors of that type, so if you really are missing a required field, your validation looks ok, and that's not correct. Or, more confusing still, validation results in a type-error and primary-key error because the a field is missing, `id` in this example.

For example,
[code]

[code]

I think this exposes the root of the bug, which is that data field

[2022-09-23 04:54] shashigharti commented on #1258
Thank you for reporting! . We will look into it.

[2022-09-26 08:29] shashigharti commented on #1245
Thanks @areleu!

Can you please share some data for usecase where the validation is failing? I tried the following:
[code]

and it is working.

[2022-09-26 09:59] areleu commented on #1245
[code]

This raises

[code]

[2022-09-27 15:06] ronnix opened #1261 "Cannot serialize package descriptor with tabular data profile"
We’re using Frictionless framework v5 beta.

We’d like to serialize a package descriptor with an explicit `tabular-data-package` profile.

Appartently, it’s not possible to serialize a resource descriptor with a `data-resource` or `tabular-data-resource` profile, or a package descriptor with the `data-package` or `tabular-data-package` profile.

The serialization fails with: `frictionless.exceptio

[2022-09-30 09:06] peterdesmet opened #1262 "`frictionless validate` points to deprecated function `validate_resource` in 4.40.0"
Frictionless version 4.40.0, when using CLI `frictionless validate datapackage.json` I get:

[code]

Why does the CLI `validate` function point to a deprecated function? How to circumvent this?

Example package I used: [test-dp.zip](https://github.com/frictionlessdata/framework/files/9682552/test-dp.zip)

[2022-10-04 14:39] enningb opened #1263 "using frictionless.describe with datetime containing NaT gives "ValueError: NaTType does not support time""
We're using frictionless v5 (b9) on a Mac with Python 3.

We use a parquet file containing a date-column with missings (they show as `NaT`). When we do:

`describe('data.parq')`

we get an error, stating:

    "ValueError: NaTType does not support time"

Is this something because frictionless does not recognize `NaT` as a missing-value?

[2022-10-12 09:10] roll commented on #1262
Hi @peterdesmet, can you please update to `v4.40.8` - it was a bug fixed in `v4.40.1`

[2022-10-12 10:15] gperonato commented on #536
I am very sorry I missed this message.
From my side I am not able to continue working on that branch/idea :(

[2022-10-14 12:29] areleu opened #1267 "Boolean metadata properties are being ignored when converting to descriptor"
# Overview

If I have a custom subclass of Metadata with the following metadata profile:

[code]
And I perform the to_descriptor() method the boolean "valid" will  be filtered out by:
https://github.com/frictionlessdata/framework/blob/5e092abae1167c6d8e452cb934b9f202ecf28801/frictionless/metadata.py#L409

I think one need a more robust parser given the fact that the type information is also there.

[2022-10-14 12:32] areleu commented on #1267
Nvm It was a typo from my side

[2022-10-14 12:32] #1267 closed, assigned to nobody

[2022-10-19 10:08] kgeographer opened #1268 "Validating against a schema"
#### question/clarification
I have been using frictionless 3.31.0 for some time to validate uploaded delimited data files and it works fine. Exploring the v4 and v5 docs, I am confused. Previously I defined a json schema with various constraints on fields (including regex), then ran a command that essentially says "validate this file against this schema." Then I parse the resulting report. Very st

[2022-10-20 08:50] #1254 closed, assigned to shashigharti

[2022-10-20 09:41] #1196 closed, assigned to shashigharti

[2022-10-20 09:48] roll commented on #1268
Hi @kgeographer!

With `frictionless@5` this snippet will look as:

[code]

Please let me know if you need more help (I'll re-open the issue)

[2022-10-20 09:48] #1268 closed, assigned to roll

[2022-10-20 09:49] roll commented on #1268
We have a validation guide here - https://framework.frictionlessdata.io/docs/guides/validating-data.html - it includes both CLI and Python examples

[2022-10-20 09:50] #1262 closed, assigned to roll

[2022-10-20 10:43] kgeographer commented on #1268
Thanks! That looks like what I'm after, will test it out soon. FWIW, in the guide I could find no similar pattern, e.g. schema and detector as arguments in Resource creation. I'd have never put this together, so big thanks! Maybe a full-blown example alongside the minimal one near the top?

[2022-10-20 12:16] roll commented on #1268
@kgeographer
More in-depth resource docs (including full API reference) you can find here (also a link to a detector docs):
- https://framework.frictionlessdata.io/docs/framework/resource.html (it seems it misses the detector argument in the high-level docs)
- https://framework.frictionlessdata.io/docs/framework/detector.html

[2022-10-20 14:37] #1245 closed, assigned to shashigharti

[2022-10-21 09:59] jze opened #1271 "Consider making `frictionless extract` a normalization command (e.g. for dates)"
When exporting extracted data to CSV fields containing dates are not converted into ISO 8601.

The command

[code]
shows the correct dates in ISO 8601 format. However, when I export the data to CSV

[code]
the unconverted dates are returned.

version 5.0.0b9

[2022-10-21 11:49] #1256 closed, assigned to shashigharti

[2022-10-21 13:12] #1248 closed, assigned to shashigharti

[2022-10-22 08:57] aborruso opened #1273 "validation: use of path and basepath"
Hi,
I would like to validate a CSV using the way suggested from @roll [here](https://github.com/frictionlessdata/framework/issues/834#issuecomment-831754967) , simply running:

[code]

I'm using 4.40.8 version and I have the below not found error.

If I use `--basepath`

[code]

I have no error.

Can't I just use `--path`? Do I always have to use the pair `--path` and `--basepath`?

Than you

## N

[2022-10-22 09:06] aborruso opened #1274 "header and extract: "--valid" and "--invalid" flags"
Hi,
I'm using 4.40.8 version.

If I run

[code]

I have the CSV header in the output, but If use `--invalid` flags I have no header. I think there should be either way.

Could you add it, or add the option to have it also for invalid output?

Thank you

[2022-10-26 07:00] #1258 closed, assigned to shashigharti

[2022-10-26 08:48] shashigharti commented on #1263
Thanks @enningb for reporting!. Can you please share the data file that you are using?

I used parquet file with date column which has 'NaT' values but couldn't replicate the error.

`describe('https://github.com/fdtester/temp-files/blob/main/myfile.parquet?raw=true')`

[2022-10-26 09:26] enningb commented on #1263
Thanks @shashigharti  for your reply! I can describe your example file as well, without any errors. While preparing my example-file I discovered that by changing my extension from '.parq' to '.parquet' I could describe my dataset as well. So the problem is in the use of the extension. I confirmed this by using your file with a changed extension.

I guess this will be solved with https://github.com

[2022-10-26 09:53] shashigharti commented on #1263
Nice! thanks.

Yes the extension issue is solved here.

[2022-10-26 10:00] #1263 closed, assigned to shashigharti

[2022-10-26 11:42] shashigharti commented on #1273
Hi @aborruso thanks for reporting!

Can you please try using `--trusted` param:

`frictionless extract 1274/resource.yaml  --path ../1229/countries.csv --trusted`

[2022-10-26 12:36] aborruso commented on #1273
hi @shashigharti
I'm using `validate` not `etract`, and in validate help I do no have `--trusted`.

I'll do your test anyway

Thank you

[2022-10-26 12:42] aborruso commented on #1273
hi @shashigharti ,
applying your example to my real case I have

[code]

But if I run

[code]

I have

[code]

[2022-10-27 04:33] shashigharti commented on #1273
hi @aborruso

sorry yes the validate does not support --trusted in version  4.40.8

But it has been fixed in v5. And this should work in v5
`frictionless validate ../../dati/amministazioni-italiane/risorse/province.yml --path ../../dati/amministazioni-italiane/rawdata/provincia_di_palermo.csv --trusted`

Thanks

[2022-10-27 07:10] #1252 closed, assigned to shashigharti

[2022-10-27 07:29] #484 closed, assigned to shashigharti

[2022-10-27 07:48] roll opened #1276 "Zenodo integration documentation"
# Overview

We should not forget to add the docs - https://framework.frictionlessdata.io/docs/portals/zenodo.html

[2022-10-27 08:12] l-vincent-l commented on #1252
Thank you, I'll test it.

[2022-10-27 08:24] aborruso commented on #1273
Ok, it works in 5.

Thank you

[2022-10-27 08:24] #1273 closed, assigned to shashigharti

[2022-10-27 15:07] peterdesmet opened #1277 "Zenodo metadata transfer"
With the new Zenodo integration, it is now possible to write a Frictionless Data Package to Zenodo 🎉 . It would be great however, if all relevant (and DataCite compatible) metadata in a `datapackage.json` where pushed (by default) as metadata to that deposit, so the user doesn't have to repeat this information (e.g. `contributors`, `title`, `description`, `license` etc.)

Such functionality would

[2022-10-27 15:08] peterdesmet opened #1278 "Set `frictionlessdata` as default keyword"
To better identify Frictionless Data Packages on Zenodo, CKAN, etc. it was suggested on slack to add the keyword `frictionlessdata` to such deposits (`frictionless` being too generic). To facilitate this use, it would be nice if `write_to_zenodo()` added this keyword by default.

[2022-10-28 05:06] jze opened #1279 "`from_zenodo` raises excepction"
For packages loaded from Zenodo the `from_zenodo` function raises an exception `Not supported Zenodo source 'None' or control`.

Here are the steps to reproduce:

[code]

[code]

[code]

[2022-10-28 05:40] shashigharti commented on #1279
Thank you for trying this new feature!.

Can you please try as follows and it should work:
[code]

OR
This is a class method.
[code]

[2022-10-28 05:44] jze commented on #1279
The fact that `from_zenodo` is a class method explains the problem.

[2022-10-28 05:44] #1279 closed, assigned to shashigharti

[2022-10-28 06:16] shashigharti commented on #1274
Hi @aborruso

Thank you for reporting!. It is fixed in v5.

![Image](https://user-images.githubusercontent.com/5582809/198516639-0c6ae2ff-6000-4380-b365-cbd191247948.png)

[2022-10-28 06:24] aborruso commented on #1274
Thank you. I will wait for the next release ;)

[2022-10-28 06:39] shashigharti opened #1280 "Support remote resources in publishing to Zip"
# Overview

to_zip ignores remote resources:

[code]

It ignores the remote resources and doesn't include it in the zipped file.

The to_zip function should include remote url/resources as well while zipping the package. The proposed solution would be
[code]

[2022-10-28 07:04] shashigharti commented on #1278
Thanks for the request!

[2022-10-28 07:05] shashigharti commented on #1277
Thanks for the request!

[2022-10-28 08:55] shashigharti commented on #1274
Closing the issue as it is fixed in v5

[2022-10-28 08:55] #1274 closed, assigned to shashigharti

[2022-10-31 17:11] roll commented on #1280
Thanks @shashigharti! I'll investigate

[2022-11-01 07:55] aborruso commented on #1232
Hi @roll ,
it seems that we have this problem still in 5 release.

If I run

[code]

I have wrong type error. The second columns contains a lot of `01` values (and so on), it's a string column, but it's mapped as integer.

I'm using 5.0.0b10.

Thank you

[2022-11-01 09:55] aborruso commented on #1146
Where I can read how to do it? Thank you @roll

[2022-11-03 06:46] aborruso opened #1281 "Not able to use validate in frictionless 5"
Hi,
using frictionless 4 if I run

[code]

I have right validation output.

If I use the same command using the 5 version, it validates not the csv file, it validates the yml one.

[code]

Am I doing something wrong? How to validate a file using an yml descriptor file?

Thank you

## Files

[code]

[code]

[2022-11-03 06:56] aborruso opened #1282 "frictionless extract --valid: it does not work properly with date fields, using "default" format"
Hi,
if I run

[code]

I have

[code]

Please note the last field: it does not contain its cell value, but in some way the field type.
If I remove `format: default` from the yml file, it works.

Is it wrong to use `format: default`? Is it the standard and inserting it is an error?

I'm using 4.40.8.

Thank you

## Files

[code]

[code]

[2022-11-04 12:33] aivuk commented on #1223
@roll for what I saw the `limit-rows` has no default at https://github.com/frictionlessdata/framework/blob/main/frictionless/program/common.py#L265 or https://github.com/frictionlessdata/framework/blob/main/frictionless/settings.py

But in general all CLI options with default values have them being displayed with the parameter on common.py, or am I mistaken?

[2022-11-07 07:08] roll opened #1284 "Deprecation warning for Pandas/Parquet formats"
# Overview

[code]

[2022-11-07 07:15] roll opened #1285 "String code inferred as an integer"
Hi @roll ,
it seems that we have this problem still in 5 release.

If I run

[code]

I have wrong type error. The second columns contains a lot of `01` values (and so on), it's a string column, but it's mapped as integer.

I'm using 5.0.0b10.

Thank you

_Originally posted by @aborruso in https://github.com/frictionlessdata/framework/issues/1232#issuecomment-1298175924_

[2022-11-07 07:18] roll commented on #1146
Hi @aborruso,

Were you asking for fixing the order (putting name first) or for the ability to customize this behavior by the user? We did the first one for now

[2022-11-07 07:20] aborruso commented on #1146
thanks, now I get it

[2022-11-07 07:21] roll opened #1286 "Recover gsheets writing test"
# Overview

[code]

[2022-11-07 07:27] roll opened #1287 "Documentation engine improvements"
# Overview

![docs](https://user-images.githubusercontent.com/557395/200250573-01890817-b3b3-4890-892e-7e3be114c3c0.png)

Hi @shashigharti, is there something else to fix?

[2022-11-07 07:50] roll commented on #1223
@aivuk
It seems it's been already fixed in v5

![def](https://user-images.githubusercontent.com/557395/200254746-b8f833a3-5572-405b-b1b6-cf150dbe1cfd.png)

Let's close until we get another user request

[2022-11-07 07:50] #1223 closed, assigned to aivuk

[2022-11-07 07:58] aborruso commented on #1223
wow, thank you very much!

[2022-11-07 11:22] aborruso commented on #1282
@roll I know this is a 0.4 point, but I must use 0.4, because I have [some problems](https://github.com/frictionlessdata/framework/issues/1281) with 0.5 and validate.

[2022-11-07 11:30] shashigharti commented on #1282
Thanks @aborruso we will investigate!.

[2022-11-07 11:48] shashigharti commented on #1287
@roll Other issues are:
1. Python code will not be parsed and will be displayed as it is(screenshot1):
[code]
2. All text will be displayed in a single line (screenshot1). Can't add multiline text with examples.
![screenshot1](https://user-images.githubusercontent.com/5582809/200302769-5ff3a590-1471-4339-9105-5dfe44926610.png)

[2022-11-07 11:55] shashigharti opened #1289 "Table aggregate does not work with len."
# Overview
"table-aggregate" step when used with len doesn't work.
[code]
`FrictionlessException: [step-error] Step is not valid: "table_aggregate" raises "object of type 'generator' has no len()" `

[2022-11-08 04:43] shashigharti commented on #1287
And reload did not work while making changes to the doc blocks.

[2022-11-08 12:36] MaxLiebetreu opened #1290 "Validate() does not check required anyOf properties of profile-defined fields"
**Disclaimer:** I am just starting out with Frictionless, so maybe I'm misunderstanding something.

When a Package is defined, we may specify a profile, like "tabular-data-package" ([tabular-data-package.json](https://specs.frictionlessdata.io/schemas/tabular-data-package.json)). Frictionless should then make sure that the restrictions for tabular-data-package are adhered to.

**This does not seem

[2022-11-08 17:20] vviers opened #1291 "Add --sheet parameter to describe command for XLSX"
# Overview

Hey there 👋🏼 thanks for the great package !

One small improvement to my quality of life as a developper would be to have the option to easily point to a specific sheet within xls/ods files when using the `frictionless describe` command.

I know `frictionless describe --dialect '{"excel": {"sheet": "my sheet"}}' Tables.xlsx` works, but since the _extract_ and _validate_ commands have t

[2022-11-09 03:14] shashigharti commented on #1291
Thanks! @vviers, we will add.

[2022-11-09 03:17] shashigharti commented on #1290
Thanks @MaxLiebetreu  we will investigate!.

[2022-11-09 12:19] #784 closed, assigned to shashigharti

[2022-11-09 12:55] #1276 closed, assigned to shashigharti

[2022-11-09 14:54] #1251 closed, assigned to shashigharti

[2022-11-09 15:13] roll commented on #1251
We're releasing `frictionless@5.0.0b11` that now supports `formats.ExcelControl.stringified`:

[code]

[2022-11-09 15:37] #1261 closed, assigned to shashigharti

[2022-11-10 18:12] ronnix opened #1293 "Validating a tabular JSON file may try to parse arrays as booleans (unhashable type: 'list')"
Using the latest beta:
[code]

Let’s say I have a tabular data package with a JSON file where one of the columns has the `array` type:

[code]

[code]

If I try to validate the data, I get this error:
[code]

By tracing where the underlying `TypeError` occurs, it looks like the issue happens in `frictionless/fields/boolean.py:value_reader`.

Why would it try to parse the array as a boolean? Well,

[2022-11-11 12:44] augusto-herrmann opened #1294 "Top bar on the Frictionless Framework v5 beta docs point to main site"
# Overview

The bar on the top of the Frictionless Framework v5 beta docs point to the [Frictionless main site](https://v4.framework.frictionlessdata.io/), when the text around it suggest that it would point to the v4 documentation.

![top-link](https://user-images.githubusercontent.com/1058414/201342554-c5ff42bf-d0d3-4eb7-b3c2-b7abd7ba4e9f.png)

# Proposed solution

The link should point instead

[2022-11-11 13:25] roll opened #1296 "Migrate to psycopg@3"
# Overview

`psycopg@3` had been released by it's not yet supported by SQLAlchemy (18-02-2023)

[2022-11-14 07:41] #1294 closed, assigned to nobody

[2022-11-14 08:03] roll opened #1297 "Build fails because of missing `httpx` module"
# Overview

https://github.com/frictionlessdata/framework/actions/runs/3459441920/jobs/5774839148

[2022-11-14 08:11] roll commented on #1293
Thanks! We will investigate

[2022-11-14 12:54] roll opened #1298 "Extract static ZenodoMapper"
# Overview

Currently, it's not available as a public API although people would like to use it for static metadata conversion

## Implementation

Extract correspondent code to `portats.zenodo.mapper.ZenodoMapper` (functions `to_schema/from_schema` etc). See `SqlMapper` for a reference

[2022-11-16 07:09] roll commented on #1297
FIXED

[2022-11-16 07:09] #1297 closed, assigned to roll

[2022-11-16 08:06] aborruso commented on #1281
@shashigharti Am I the only one not able to use the validate? Is my command wrong in some way?

Thank you

[2022-11-16 12:10] roll opened #1299 "Speed up local tests"
# Overview

We need to review slow tests and ensure that tests work off-line (we did the same for v4 but some new tests might need internet -- check).

We need to use `vcr` for online tests and mark slow tests as `ci`